[2013-10-24 23:12] jleclanche opened #2 "Import lxde-qt/pcmanfm-qt issues"
https://github.com/LXDE-Qt/pcmanfm-qt/issues?state=open

On that note, the lxde-qt org needs to be closed.

[2013-10-24 23:12] jleclanche opened #3 "lxsession-logout crashes if lsb-release is not installed"
(Cant find a convenient bugtracker for lxsession)

[2013-10-24 23:25] jleclanche opened #4 "Implement desktop wallpapers"
High prio if possible due to demo.

[2013-11-07 08:51] fluxer opened #6 ".desktop file warning"
After installing pcmanfm-qt every update of the desktop database (via `update-desktop-database`) prints this warning:

Warning in file "/usr/share/applications/pcmanfm-qt.desktop": usage of MIME type "x-directory/normal" is discouraged ("x-directory" is an old media type that should be replaced with a modern equivalent)

[2013-11-08 12:07] fluxer opened #7 "multiple files copying"
pcmanfm-qt is unable to copy multiple selected files or directories popping an error that the files do not exist.

[2013-11-11 01:15] robxu9 opened #8 "unable to compile pcmanfm.cpp"
[code]

I see libfm-qt in the includes path with the command, so I've been a bit confused.

[2013-11-14 14:31] #3 closed, assigned to nobody

[2013-11-25 13:27] pvanek opened #9 "desktop mode: all screens use the same widget"
I use 2 monitor (xrandr/nvidia) setup.

pcmanfm-qt loads its "desktop manager" for both screens (which is fine) but unfortunately both screens contain content of "Desktop" directory. It would be great to have an opportunity to have some configuration there.

Something like:
- set the directory for this screen
- do not use any file manager on screen X

[2013-11-25 13:28] pvanek opened #10 "desktop mode: allow to use lxqt menu"
there is only the "file manager" menu in the desktop mode. It would be greatly appreciated to have lxqt menu available too

[2013-11-25 13:33] pvanek opened #11 ""open with..." > lximage-qt shows really big icon"
See the screenshot. It seems like content of QIcon is not scaled to expected size

![screen02](https://f.cloud.github.com/assets/207237/1613298/1730dfa4-55d6-11e3-9ebb-880813af01ff.png)

[2013-11-28 08:37] pvanek opened #13 "it does not launch executables"
I'm in /usr/bin, scrolled to eg. lxqt-config. But the binary does not launch by double click or by context menu open

workaround: open a terminal (F4) and launch it from it.

[2013-11-28 08:43] pvanek opened #14 "activation by single click"
I cannot activate Preferences "Behavior/Open files with single click" checkbox. It's always disabled.

FYI: Also - we have lxqt settings for single/double click; handled in lxqtsettings.cpp LxQtTheme::qss

[2013-11-28 08:46] pvanek opened #15 "unexpected opening to new window"
I'm in computer:/// (/ of filesystem), so I see 2 icons of HDDs:
"File System" and "Hitachi ..."

When I activate the icon (doubleclick/open) the / is opened in new window instead of the current one.

[2013-11-28 08:50] pvanek opened #16 "network browsing does not work at all"
Location: Network. There I have many icons of correctly discovered network devices.

When I click to any of icon, new window with local filesystem root (/) is opened.

It does not matter if network device is FTP, SMB, AFP, or SSH (probably) device.

[2013-12-11 11:52] jleclanche opened #17 "Drop x-directory/normal"
The desktop file contains the x-directory/normal which is unused now.

[2014-02-07 13:06] #8 closed, assigned to nobody

[2014-02-07 15:20] #17 closed, assigned to nobody

[2014-02-07 15:21] #6 closed, assigned to nobody

[2014-02-09 22:03] jleclanche opened #18 "New windows should always show up in front"
When pcmanfm is already open (eg in desktop mode) and the user types `pcmanfm` in the shell, the new window shows up behind everything else.

[2014-02-09 22:06] jleclanche opened #19 "Do not show "Open with" on folders"

[2014-02-09 22:06] jleclanche opened #20 "Add "Open in new window" functionality for folders"
On right click.

[2014-02-09 22:10] jleclanche opened #21 "Edit filename inline"

[2014-02-09 22:10] jleclanche opened #22 "Do not select file extension by default on file rename"

[2014-02-09 22:15] jleclanche opened #23 "Inconsistent icon sizes in Open with"
![image](https://f.cloud.github.com/assets/235410/2121186/87c00c1c-91d7-11e3-9f97-1d8f810b1a3d.png)

[2014-02-10 17:08] PCMan opened #24 "Clicking on space between two items selects one of them."
Clicking on the blank area between two items selects one of them.
It's hard to click on a blank area to unselect all items.
This is a severe usability issue.

[2014-02-14 12:29] #24 closed, assigned to nobody

[2014-03-07 01:42] jleclanche opened #25 "Amount of items in the folder is not refreshed when the folder content changes"
Easy test: open a directory, don't select anything. Watch the amount of items in the status bar. touch /path/to/dir/foo, file appears but status bar not updated.

[2014-03-08 16:22] #4 closed, assigned to nobody

[2014-03-08 16:23] #23 closed, assigned to nobody

[2014-03-09 13:19] #22 closed, assigned to nobody

[2014-03-09 17:36] #2 closed, assigned to nobody

[2014-03-09 17:39] #7 closed, assigned to nobody

[2014-03-09 18:59] #25 closed, assigned to nobody

[2014-03-10 10:13] #20 closed, assigned to nobody

[2014-03-10 10:14] #19 closed, assigned to nobody

[2014-03-11 16:21] #18 closed, assigned to nobody

[2014-03-15 03:06] PCMan opened #27 "symlinks and files that cannot be accessed should be marked with emblems."
Symlinks should be shown as in the gtk+ version.
Need to add a small emblem for files that cannot be accessed by the current user.

[2014-03-17 12:30] PCMan opened #28 "Tash can icon does not refresh when the trash can changes its empty/full status"
Need to update the icon to reflect the status of the trash can.

[2014-03-22 10:23] #28 closed, assigned to PCMan

[2014-03-22 15:05] #13 closed, assigned to nobody

[2014-03-23 06:23] #15 closed, assigned to nobody

[2014-03-24 15:28] PCMan opened #29 "Save/restore custom positions of desktop icons"
Let the user move the desktop icons around and save their positions.

[2014-03-24 18:09] #27 closed, assigned to PCMan

[2014-03-24 18:38] PCMan opened #30 "Avoid modal dialogs"
Currently, AppChooserDialog, AboutDialog, and some of other dialogs are modal and blocks other windows. This causes some usability problems and need to be fixed.

[2014-03-24 20:47] WL-hohoho opened #31 ""Execute in terminal" always tries to start xterm"
No matter which terminal is entered in the preferences, when trying to start a shell script using "Execute in terminal", pcmanfm executes it with a xterm.

[2014-03-25 05:20] jleclanche opened #32 "pcmanfm-qt always creating a ~/Templates directory?"
This directory keeps reappearing, and I think it's pcmanfm-qt creating it.

[2014-03-25 14:32] #31 closed, assigned to nobody

[2014-03-27 04:53] #30 closed, assigned to PCMan

[2014-03-27 04:54] PCMan opened #34 "archiver integration is not working sometimes"
The combox in the preference dialog does not work. Besides, we need to add other Qt-based archivers.

[2014-03-31 11:55] jleclanche opened #35 "Ctrl+W closes all windows"
- Open two or more pcmanfm windows
- Hit ctrl+w

Everything closes.

[2014-03-31 22:13] ArthurBorsboom opened #36 "Unnecessary error message when ejecting a USB drive"
I am not sure if this is bug, a feature request or an error in my environment.

When I plug in a USB memory stick, it is directly usable in pcmanfm-qt. I use gvfs to support this action. When I click on the eject button while the same drive is selected, it unmounts the USB memory stick and then throws the following error.

"The specified directory /run/media/user/label is not valid".

![usb-eject]

[2014-03-31 22:43] ghost opened #37 "BookMarks should be icon compliant"
Booksmarks are all currently the default folder icon, they should instead use special folder icons, if needed, i.e. "Downloads folder"  "Images Folder" "Music Folder" etc.

Looks like the code is somewhere in libfm-qt gonna try to work on it myself.. but still getting up to speed

[2014-03-31 22:46] ghost opened #38 "Unsupported Places Visible"
I do not use for example GVFS and do not have a cdrom drive. Yet pcmanfm-qt will still show many "unsupported" Places links

Links should automatically not show if they are not supported
i.e.

Network. Desktop, Computer, and cdrom

[2014-04-01 04:16] PCMan opened #39 "Add templates support to the file menus."
Like what's provided by the gtk+ version.

[2014-04-01 04:17] PCMan opened #40 "Add plugn support, make it extensible like the gtk+ version."
The gtk+ version of pcmanfm/libfm can be extended in several places by using modules. Try to copy that behaviour to the Qt version.

[2014-04-02 05:10] PCMan opened #41 "Single instance is broken if run with "root" user"
Current IPC using dbus implementation does not work when pcmanfm-qt is executed simutaneously by different users in the same desktop session.
Need to find a better way for single instance handling.

[2014-04-02 09:15] #41 closed, assigned to nobody

[2014-04-02 11:11] ArthurBorsboom opened #42 "Go back to home folder after unmounting a device"
When a device is unmounted/ejected, the current behavior ~~of the selected item on the left is to stay on the just unmounted drive (for example for a partition) or move one up in the list when the device does not exist anymore (for example a USB memory stick).~~ is to close pcmanfm-qt completely.

~~By this behaviour the selected item ends most of the time up on a non-mounted drive/device, which i

[2014-04-02 17:37] #36 closed, assigned to nobody

[2014-04-05 13:32] #39 closed, assigned to PCMan

[2014-04-06 10:22] #29 closed, assigned to PCMan

[2014-04-07 08:46] ghost opened #43 "switching to "Directory Tree" in side pane causes pcmanfm-qt to crash"
with segmentation fault

[2014-04-07 08:49] ghost opened #44 "pcmanfm-qt does not remember the size setting of side pane icons"
wish to use the 20x20, but after re-open pcmanfm-qt, the size is 24x24 again

[2014-04-11 11:31] hawkeyed opened #45 "Ctrl+A command causes several problems"
Hello,
Whenever I press ctrl+a, 2 item in a folder is shown as 10 item in the statusbar.Besides when I try to copy them to somewhere else pcmanfm tries to copy it five times to the destination folder.Thank you for all that great software, keep up the good work.

[2014-04-25 13:33] jleclanche opened #46 "Add GUI to change desktop dir in Desktop Preferences"
This should change XDG_DESKTOP_DIR which defaults to ~/Desktop if not specified.

[2014-04-29 15:11] #32 closed, assigned to nobody

[2014-05-06 03:25] jleclanche opened #47 "Icons show up on each desktop even on dual monitors"

[2014-05-08 11:27] tieugene opened #48 "Translations are absent"

[2014-05-08 19:59] rilian-la-te opened #49 "Feature request: force removal"
https://github.com/lxde/lxde-qt/issues/78

[2014-05-12 08:15] ghost opened #50 "ark archiver support"
well we are qt now might as well support ark right?

[2014-05-17 14:44] jleclanche opened #52 "MTP support"
MTP support is very much wanted to go along with automount

[2014-05-17 21:56] #11 closed, assigned to nobody

[2014-05-18 00:12] jleclanche opened #53 "Crash when closing a window"
[code]

[2014-05-22 17:10] ianorlin opened #55 "Allow openbox or other window manager on window manager to display middle click menu when drawing wallpaper"
I want the functionality in the gtk version of pcmanfm when it draws the wallpaper to still allow the middle click to be shown to the window manager. Since pcmanfm only uses right click for changing wallpaper or adding items. Also lets you quickly manage windows open or fast way to add new desktop in openbox without opening obconf.

If I make pcmanfm-qt stop drawing the wallpaper the menu opens fi

[2014-05-25 06:46] willbprog127 opened #56 "'Show Hidden' is not remembered after exit"
I must manually enable 'Show Hidden' each time I start the app.  This setting should be remembered, or an option placed in Preferences.

App version: 0.7.0+bzr220+201405220902~ubuntu14.04.1 , 64-bit

[2014-05-25 06:51] willbprog127 opened #57 "Some files not displaying icon in Compact icon mode"
Some files (most likely without a mime entry somewhere) are not displaying any icon, causing the layout to look poor.

![pcmanfm-qt-issue-01](https://cloud.githubusercontent.com/assets/1296250/3076398/beb86f90-e3d8-11e3-8e7a-944e32a89a5f.png)

If the file type is unknown, pcmanfm should use a default icon instead of nothing.

[2014-05-26 21:56] #56 closed, assigned to nobody

[2014-05-27 01:07] jleclanche opened #61 "SMB share support"
https://github.com/lxde/lxde-qt/issues/147

[2014-05-28 16:03] #44 closed, assigned to nobody

[2014-05-29 11:36] ghost opened #62 "Desktop White Background"
Desktop background is always pure white no matter what wallpaper mode I choose. Pcmanfm-qt configuration file is also right.

Console output:

[code]

[2014-05-30 01:47] pooka109 opened #63 "Can't select application from Open With... -> "Other Applications""
I'm using Slackware 14.1, Qt 4.8.5, and PCManFM-qt 0.7.0.

If I open the file browser, right-click on a file, select the "Open With..." option from the resulting menu, and select "Other Applications" from the "Open With..." submenu, I get the "Choose Application" menu as expected.  However, the "Installed Applications" tab refuses to select any application.

For example, if I'm trying to select an

[2014-06-05 00:40] mikeandmore opened #64 "Cannot display Wallpaper"
Wallpaper configuration is correct, but the wallpaper only flash for a very short time during start up. Once icons on the desktops are shown, the wallpaper is gone. Leaving the whole wallpaper area black. Icons on the desktop are displayed correctly.

[2014-06-05 03:19] paulolieuthier opened #67 "Shortcuts do not work in Desktop"
Ctrl-C, Ctrl-V, Del...

[2014-06-07 12:20] #62 closed, assigned to nobody

[2014-06-07 18:16] equeim opened #69 "Double MTP devices in sidepanel"
http://itmages.ru/image/view/1708540/70e59c35
When I click to "mtp", selection moves to "Xperia Acro S".

[2014-06-08 00:23] jleclanche opened #70 "Crash if the current directory is deleted"

[2014-06-08 02:41] jleclanche opened #71 "Don't try to detect extensions on directories"
When renaming a directory with a . in the name that is.

[2014-06-24 07:02] Ilya87 opened #75 "Try to scale down big application icon"
If application has only one icon with big resolution e.g. 128x128 in right-click menu it should be shown scaled down (in Open With... submenu), as it is in lxqt application menu.

![screen313](https://cloud.githubusercontent.com/assets/1446573/3368006/59fa1ebc-fb6d-11e3-9ab3-9dce51e6ba59.png)

[2014-07-02 00:15] adrianofoschi opened #77 "No icons"
PCMANFM doesn't display any icons by default.
Tested with: oxygen, gnome-icon-theme on Archlinux 64 BIT

It shows icons after this procedure:
Go to Edit->Preferences->User Interface and re-set icon-theme

[2014-07-03 15:25] #77 closed, assigned to nobody

[2014-07-05 21:08] MauroMombelli opened #79 "random crash on automount's folder"
i've a automount nfs folder.
after some (random) time that the folder is opened it crash

[2014-07-09 05:41] ianorlin opened #80 "make execute in context menu doesn't do change permissions"
Chaging permissions of of a file of say a name like hugbuildscript.sh in your home folder right click on the context menu of the file go to permission to try and make executable then hit ok. Then opening a terminal and doing ls -l shows the file without execute permissions.

I am on pcmanfm-qt 0.7.0.16.g38bfb73-1.

[2014-07-21 15:54] PCMan opened #82 "wallpaper cache does not work for multi-monitor setup."
Only one cache with one wallpaper size is generated.
This does not work for multi-monitor setup.

[2014-07-30 10:26] ViktorNova opened #83 "Error compiling - undefined reference to `vtable for Fm::CustomAction'"
Hello! I am getting a linking error when building pcmanfm-qt

[code]

Before this I pulled,built, and installed a fresh libfm and libqtxdg. Am I missing something? I'm on Debian Wheezy

Here's the output from configure:

[code]

[2014-08-02 08:39] #80 closed, assigned to nobody

[2014-08-02 08:40] #75 closed, assigned to nobody

[2014-08-02 08:41] #55 closed, assigned to nobody

[2014-08-02 08:42] #52 closed, assigned to nobody

[2014-08-02 08:45] #34 closed, assigned to PCMan

[2014-08-03 17:05] #71 closed, assigned to nobody

[2014-08-03 18:01] #50 closed, assigned to nobody

[2014-08-04 04:27] #35 closed, assigned to nobody

[2014-08-04 04:29] #43 closed, assigned to nobody

[2014-08-04 08:59] #83 closed, assigned to nobody

[2014-08-05 14:48] #53 closed, assigned to nobody

[2014-08-05 18:38] #57 closed, assigned to nobody

[2014-08-05 23:01] ghost opened #84 "b1 archiver support"
A Qt utility without KDE dependencies: http://b1.org/

Additionally a simple commandline integration would be fine too. I've tried custom actions, but couldn't have consistent or successful results.

[2014-08-05 23:10] ghost opened #85 "Scrolling doesn't work in compact view"
unless one points the cursor to the horizontal scroll bar.

[2014-08-05 23:32] AcarBurak opened #86 "Enhancement for wallpaper setting"
1. In Desktop Preferences > Browse > Open one can only use List and Detail views both of which is meaningless in such a context. Thumbnail view is badly needed!
2. After choosing the wallpaper and pressing OK closes the window, but depending on the image the default/current behaviour of wallpaper setting (stretch, tiling etc.) may not produce a desirable outcome. So one needs to go back. An additi

[2014-08-06 07:54] ghost opened #87 "Cannot acces Places -> Applications (menu://applications)"
"The specified location is not supported".
Gvfs is installed.
I deleted .cache/menus but it didn't help.

[2014-08-06 12:28] #48 closed, assigned to nobody

[2014-08-06 12:57] #42 closed, assigned to nobody

[2014-08-06 12:59] #70 closed, assigned to nobody

[2014-08-06 15:56] #67 closed, assigned to nobody

[2014-08-06 16:03] #84 closed, assigned to nobody

[2014-08-06 16:28] #49 closed, assigned to nobody

[2014-08-10 17:38] #64 closed, assigned to nobody

[2014-08-10 17:38] #9 closed, assigned to nobody

[2014-08-10 17:39] #47 closed, assigned to nobody

[2014-08-11 03:40] #87 closed, assigned to nobody

[2014-08-11 11:43] ghost opened #88 "Open "Places" in new tab when clicked by middle mouse button"
Just a suggestion

[2014-08-17 18:22] #14 closed, assigned to nobody

[2014-08-19 15:53] #45 closed, assigned to nobody

[2014-08-19 17:24] #38 closed, assigned to nobody

[2014-08-19 17:41] #85 closed, assigned to nobody

[2014-08-20 21:14] hawkeyed opened #89 "Icon theme problem after trying Qt5"
Hello,
As you can see in the ss the panel's icon theme is Numix. But file manager shows the gnome icon theme. I hope you can fix it. You're my hero
![pcmanfm](https://cloud.githubusercontent.com/assets/7062714/3988311/8c70267a-28ae-11e4-9ef9-478da88a3746.png)

[2014-08-29 10:32] Esclapion opened #90 "Entry Compress in right-click menu"
How suppress that, please ? It does nothing for the moment. I don't find where it's set.

[2014-09-07 18:27] ArthurBorsboom opened #94 "Segfault each time the OS boots"
Every time when I start my computer, the error message below shows up in 'dmesg'.
I don't see any side-effects, so I guess the priority is low.

`[   13.735834] pcmanfm-qt[600]: segfault at 0 ip 00007f6e1caf8f96 sp 00007fff634ca000 error 4 in libfm-qt5.so.1.0.0[7f6e1ca98000+7c000]`

[2014-09-09 08:52] ArthurBorsboom opened #95 "pcmanfm-qt: crashes when opening a folder with a specific jpeg in it"
I have drilled down to a single jpg file causing pcmanfm to close, with an error message in dmesg.

`[ 5577.067837] loader[16696]: segfault at 30 ip 00007f781e9b5650 sp 00007f78037fccf8 error 4 in libQt5Gui.so.5.3.1[7f781e886000+513000]`

The jpg which causes this is the following (header-bg.jpg).

![header-bg](https://cloud.githubusercontent.com/assets/6639859/4198860/8e2d213e-37fe-11e4-8e37-9751

[2014-09-12 14:41] czchen opened #96 "License question for debian package"
Currently we are working on packaging pcmanfm-qt into debian. During packaging, we found that several source files in `libfm-qt` and `pcmanfm-qt` contain LGPL-2+ instead of GPL-2+ license header.

We are not sure if using different licenses for different source is as intent or just copy&paste error, please help to check it out, thanks.

[2014-10-04 18:23] #94 closed, assigned to nobody

[2014-10-10 12:31] paulolieuthier opened #97 "Align icons to grid on desktop"
There should be an option for that.

[2014-10-16 15:24] sixsixfive opened #98 "add custom commands to decompress/compress files"
unp is a simple perl script that can extract almost everything

https://packages.debian.org/source/sid/unp
https://screenshots.debian.net/package/unp

[2014-10-19 14:19] majorbob opened #99 "pcmanfm-qt does not search XDG_DATA_HOME for icons"
Wine installs application icons to ~/.local/share/icons/hicolor.
pcmanfm-qt managing the desktop does not search the directory for icons.
pcmanfm from LXDE has correct behaviour and searches the directory and shows desktop icons correctly.

[2014-10-22 08:52] madsl opened #100 "Drag and drop doesn't work with Qt5.4"
I'm at commit 1426aeb618. PCManFM-qt doesn't support drag and drop when compiled with Qt5. Tested dragging stuff into KWrite, audacious, chromium, firefox, nothing works anymore. Worked when compiled with Qt4.

[2014-10-29 13:59] jleclanche opened #102 "Desktop Preferences: Add an apply button"
If we apply settings immediately, the cancel button needs to revert everything and it needs to be in all of lxqt, so for now just add an apply button.

[2014-10-29 14:05] jleclanche opened #103 "Allow one wallpaper per screen on multihead setups"
Right now, the "screen" is actually the sum of all screens.

[2014-11-05 16:53] SafaAlfulaij opened #104 "Views?"
What about adding views? Each tab has views splitted horizontally and virtually, Exactly like QTerminal.
Also what about a view for QTerminal in the bottom of the Files/Folders view? ;)
![qterminalviews](https://cloud.githubusercontent.com/assets/3509617/4921708/35b4f730-650c-11e4-95aa-dbebe6fcae15.png)

[2014-11-07 16:04] SafaAlfulaij opened #105 "Sorting files"
Sorting files is based on numbering function, I mean if I have the files: "1.jpg" -> "30.jpg", pcmanfm-qt will sort them: "1.jpg" "10.jpg" -> "19.jpg" "2.jpg" "20.jpg" etc...

[2014-11-10 13:17] onekk opened #106 "pcmanfm-qt italian translation almost missing"
The menu of the pcmanfm-qt are in english and almost all the interface isn't translated in italian, only the "OK" "Cancel" button are translated.

Regards

Carlo D.

[2014-11-26 21:58] pmattern opened #107 "rearrange tabs by drag&drop"
It would be good if the order of tabs could be changed, either by some keyboard shortcut or drag&drop.

The latter is, if this should be of interest, possible in PCManFM's GTK version. The issue doesn't seem to be related to #100 as tabs can't be arranged in a context where drag&drop works either.

Seen on Arch Linux x86_64 running latest git version compiled against Qt5.

[2014-11-30 12:43] pmattern opened #108 "SFTP: approving server's public key fails"
PCManFM fails to approve public host keys of SSH servers that haven't been contacted before.

When connection attempts are made, there's first a dialogue box "pcmanfm-qt" which explains that the remote server isn't known and presents the public key's fingerprint. After clicking "Log In Anyway" there's a second box "Error" explaining that login failed.
Same findings if ~/.ssh/known_hosts lacks or i

[2014-11-30 13:33] pmattern opened #109 "detailed list view improvements"
PCManFM's detailed list view lacks some rather important features, imho:

Sorting should be configurable by clicking the columns' headers. This affects both choosing the column that's used to do the sorting and the order in terms of ascending vs. descending.

Some columns are just missing, in practice group names, permissions and targets of symbolic links.

The choice which columns are displayed s

[2014-12-12 22:37] AnthLee1987 opened #110 "Does not respect TargetLocation"
I was testing some scripts that use the Desktop file specification extension, found here http://www.nautilus-actions.org/?q=node/377 And, during testing I found that pcmanfm-qt does not respect the TargetLocation=true portion of my .desktop files.

[2014-12-16 13:05] V10lator opened #111 "Can't change bookmarks"
A few days ago I changed my username and with it moved my home folder. So far I managed to change the settings of all applications except the bookmarks of pcmanfm-qt. I tried:
- Changing the existing enties.
- Removing the existing entries and creating new ones.
- Adding new entries
But when I click on OK all my changes are reverted. As I added new entries in the past I guess the problem is that t

[2015-01-13 16:20] #46 closed

[2015-01-17 14:28] SafaAlfulaij opened #120 "Foucs "Rename" button when file name changed"
When copying a file that another file with the same name exist, A confirm dialog comes up.
The thing is that when the new filename text's changed, The Enter button should be on "Rename" rather than "Overwrite".

[2015-01-17 14:50] nesnera commented on #109
Missing sorting by clicking the columns' headers - it is a bug. I think.

[2015-01-18 13:09] AcarBurak commented on #98
Yes, this would be fine. Or atool for both compression and uncompression. Otherwise one is forced to use a gtk or kde archiver.

Yet, I could manage to create custom actions for atool. If sixsixfive is interested:

https://wiki.manjaro.org/index.php?title=CUSTOM_ACTIONS_FOR_PCmanFM-Qt#.E2.80.9CCompress.E2.80.9D_custom_action

[2015-01-21 07:40] PCMan commented on #111
fixed.

[2015-01-21 07:40] #111 closed

[2015-01-21 07:40] PCMan commented on #107
done.

[2015-01-21 07:40] #107 closed

[2015-01-21 07:41] #96 closed

[2015-01-21 07:51] PCMan commented on #95
Confirmed the bug. There lacks a NULL checking in libfm.
I'll work on this. Thanks!

[2015-01-21 07:53] ArthurBorsboom commented on #95
Awesome! This saves me removing that jpg everytime I extract and open an Oracle documentation package.

[2015-01-21 08:02] PCMan commented on #95
Fixed in the latest "libfm" in "git".

[2015-01-21 08:02] #95 closed

[2015-01-21 08:08] ArthurBorsboom commented on #95
Cool. I will be waiting until the v0.9 comes to AUR: https://aur.archlinux.org/packages/lxqt

Once that has happened, I will recheck all my open bug reports to verify their status.

Thanks PCMan!

[2015-01-21 19:21] agaida opened #121 "FTBFS: error: 'class PCManFM::TabBar' has no member named 'setChangeCurrentOnDrag'"
* @PCMan latest commit, build with pbuilder
<pre>
/tmp/buildd/pcmanfm-qt-0.8.1/pcmanfm/mainwindow.cpp: In constructor 'PCManFM::MainWindow::MainWindow(FmPath*)':
/tmp/buildd/pcmanfm-qt-0.8.1/pcmanfm/mainwindow.cpp:84:14: error: 'class PCManFM::TabBar' has no member named 'setChangeCurrentOnDrag'
   ui.tabBar->setChangeCurrentOnDrag(true);
</pre>

[2015-01-21 20:17] PCMan commented on #121
Sorry, that's a Qt 5.4 feature.
I should have #ifdef that.

On Thu, Jan 22, 2015 at 3:23 AM, Alf Gaida <notifications@github.com> wrote:

[2015-01-21 20:19] #121 closed

[2015-01-22 06:10] PCMan commented on #90
You need to set a supported "archiver" in the preferences dialog (advanced page).
Currently, ark, file-roller, and squeeze are supported.

[2015-01-22 08:12] #105 closed

[2015-01-22 08:13] PCMan commented on #105
Fixed. This is supported by libfm and glib.

[2015-01-22 08:15] PCMan commented on #97
This will change the UI. Leave this for 1.0.

[2015-01-22 21:07] Ilya87 opened #123 "Case-sensitive file sorting by file name is broken"
Maybe due to the commit 5d99404d73 selecting Case-sensitive file sorting by file name in View menu does nothing. I mean that folders and files with capital letters are always placed before files and folders with lower-case, checking and unchecking case-sensitive does nothing for sorting.

[2015-01-27 08:46] PCMan commented on #88
fixed.

[2015-01-27 08:46] #88 closed

[2015-01-28 14:16] PCMan commented on #100
Confirmed. Opening files using Dnd is broken.

[2015-01-29 03:35] rcmn opened #125 ""Move to trash " on mounted devices"
Is someone can reproduce a bug I have that any mounted device / share (NTFS,FAT32,SMB) .Right click "Move to trash " does not work . However "Shift + Del" will remove the file. Also can I launch pcmanfm-qt with an argument to see an output ? So that I can report better .
ubuntu repo

[2015-01-29 06:09] jleclanche commented on #125
@PCMan can you look at this one for 0.9 since we delayed?

[2015-01-29 17:16] Ilya87 commented on #123
Fixed in https://github.com/lxde/pcmanfm-qt/commit/6b03e8b636bf034c569835f85abffc48d2f5756e

[2015-01-29 17:16] #123 closed

[2015-01-29 18:50] #125 closed

[2015-01-30 08:19] PCMan commented on #100
Just confirmed that it is a known bug of Qt 5.4. It will be fixed in Qt 5.4.1.
So it's not our issue.

[2015-01-30 08:19] #100 closed

[2015-01-30 08:33] #120 closed

[2015-01-30 20:02] tlhpray opened #127 "pcmanfm-qt slow opening folders with many files"
On hdd whenever I try to open folder with many files (opening photo folders or /bin /lib takes forever) I must wait for files several seconds. There isn't much change with thumbnails turned on or off so I think it's unrelated. Dolphin had the same problem but now it is the fastest file manager in this field (longest I have to wait on dolphin is 1 sec). I think natural sorting was the culprit then

[2015-01-30 20:39] tlhpray opened #128 "pcmanfm-qt after "Open as Root" action doesn't change home, config target location"
Problem with this is after I click Open as Root my config files in my /home/user directory change ownership to root as I open anything from pcmanfm-qt in this root state. Example:
1. start pcmanfm-qt and click Open as Root
2. click Open Terminal in Tool menu
3. close qterminal (my terminal choice)
4. /home/user/.config/qterminal.org/qterminal.ini owner is now root
same thing happens whenever I ope

[2015-01-30 22:00] tlhpray opened #129 "Open With... menu for directories"
As it is directories don't have option to be opened with application of choice. There are many cases where I want to open/parse folder (inode/directory mime type) with/to other program but I can't do it in simple way with pcmanfm-qt. I propose to add same menu (open with...) like we have for files.

[2015-01-30 22:32] tlhpray opened #130 "Remember width of side panel"
Width of side panel resets every time pcmanfm-qt start. It seems it is fixed to 150 pixels and doesn't scale with window size? My proposition is that width of side panel is stored in config file and set accordingly on start.

[2015-01-30 23:04] tlhpray opened #131 "filter field"
I would see it under address field, in same line as "places" word, or above status bar at the bottom with ability to turn it on/off in settings or on main toolbar. This filter field would be basically find in current directory (without subfolders) with results in folder window. Later it can be enhanced as universal find tool giving it 2 icon options at the end of the field. One, lock filter when c

[2015-01-30 23:38] tlhpray opened #132 "enhancement of single click support"
Current single click solution is really clunky. Time delayed selection can mess up so many things and without it I must use keyboard for selection. The best way to do it right is dolphin way of adding on mouse hover neutral icon or space (should be much easier to implement than dolphin changing icons), preferably in upper left corner of file/directory, which should act as ctrl+click. This also mak

[2015-01-31 08:18] tlhpray opened #133 "can't change group if not root"
For not root user the group field in Permissions is grayed out. I understand that I can't change owner field as non root but with group there shouldn't be any problem. I can do it with other file managers and chown on same user, so it's probably a bug in pcmanfm-qt.

[2015-01-31 08:42] tlhpray opened #134 "Drop down menus for Owner and Group fields"
Drop down menus on ownership fields would really save some time if we don't remember user or group name. It will also completely negate any possible errors changing file(s) owner or group.

For normal users Owner should be grayed out and in Group menu there should be result of 'groups'
For root, Owner menu should have 'cut -d: -f1 /etc/passwd' and Group menu 'cut -d: -f1 /etc/group'

[2015-01-31 09:06] PCMan commented on #127
It delays mime-type sniffing so initial load can be faster.
We did not do that. The gtk+ version of pcmanfm has partial support of it, but it's not yet ported to Qt.
This requires much work due to some limitations and bugs of Qt ListView widget.

[2015-01-31 16:14] PCMan commented on #99
We only use QIcon::fromTheme() to get the icon.
So if anything goes wrong, it's basically the bug of Qt itself.
Please report to Qt developers.

[2015-01-31 18:30] stefonarch commented on #104
Split view with drop+drag for me is a must-have, too.

[2015-02-04 18:25] #130 closed

[2015-02-05 13:03] ghost opened #135 "Desktop not refreshing"
Desktop not refreshing when deleting or moving files from within a program.
Now I got all these useless thumbnails laying on my wallpaper.

[2015-02-05 18:06] pmattern commented on #108
A part of a feature isn't working which impairs the feature as a whole.
This is a bug.
I'm not saying it's high drama or something. And personally I don't even care too much as I know how to work around. Yet it's a bug.

[2015-02-06 08:49] stefonarch opened #136 "Desktop Settings appear under "Other""
pcmanfm-qt-desktop-pref.desktop ends up in menu among "other", non in preferences.
Introducing "Settings" solves. Tested on 2 different PC with git-packages from AUR.
Categories=Settings;Qt;DesktopSettings;

[2015-02-06 08:50] stefonarch commented on #136
PS: same issue with lxqt-about.desktop

[2015-02-07 18:12] drzisga opened #137 "Files or folders in detailed list view do not get selected when typing with keyboard"
As it is stated in the title, a file or a folder does not get selected when typing the first few letters of it with the keyboard. This only does not work in the "Detailed List" view mode, so I think it has something to do with the FolderViewListView class. It might even be an issue with the underlying QListView, since this [commit](https://qt.gitorious.org/qt/qt/commit/cd1a5d421d214005bbbbb57150df

[2015-02-15 17:51] ArthurBorsboom commented on #95
Issue still exists with

libfm 1.2.3
pcmanfm-qt 0.9.0

[2015-02-15 18:06] PCMan commented on #95
Yes, because there is no new release of libfm yet.
Version 1.2.3 does not contain the fix.

[2015-02-15 18:30] ArthurBorsboom commented on #95
Thanks for the clarification.
I will report back once the new libfm is released on my Arch system.

[2015-02-15 18:46] ArthurBorsboom opened #140 "Icons missing after each reboot"
When I start my Linux distro and open pcmanfm-qt, no items are shown.

![icons-missing](https://cloud.githubusercontent.com/assets/6639859/6204423/e5c0551e-b54a-11e4-80b5-76ff4a707f64.png)

After I go to the preferences, select another theme and press OK. The icons of this theme are shown. Once I do this again for the theme which was initially selected. Most icons show (except the bookmarks).

![i

[2015-02-15 18:51] ArthurBorsboom opened #141 "pcmanfm-qt does not follow lxqt theme"
I am unsure what the intented way is how pcmanfm-qt should be themed, however it does not seem to use my chosen "Ambient" lxqt theme.

Should pcmanfm-qt follow the lxqt theme?
If not, what is the recommended way of theming?

[2015-02-15 22:13] goetzc opened #142 "When creating a new file or folder, focus it"
When creating a new file or folder via `Create New -> Folder` or `Blank File`, giving it focus automatically can improve the user experience.  This way, it can easily be opened with `Enter` or renamed with `F2`.

This also applies when just renaming existing files & folders.

[2015-02-17 13:12] pmattern commented on #136
**pcmanfm-qt-desktop-pref.desktop**
Recent version of lxqt-applications.menu is including pcmanfm-qt-desktop-pref.desktop by its filename and independent of line "Categories"

So latest Git version of lxqt-common which is providing lxqt-applications.menu should fix the issue provided that Applications menu is using lxqt-applications.menu. The latter can be seen from its configuration window which

[2015-02-17 23:47] jleclanche commented on #142
Accepted

[2015-02-18 17:25] pmattern commented on #141
To my knowledge the effect of themes as set in LXQt Appearance Configuration (binary lxqt-config-appearance) - 'LXQt Theme' (left column) regarding application windows is very limited, e. g. icons in icon bars are handled by icon themes, windows' title bars by window managers. In fact I didn't see any effect of changing icon themes regarding PCManFM-Qt so far at all.
Also, there was an issue regar

[2015-02-22 23:02] agaida opened #143 "translation updates should be done out of the sources"
don't know if it's possible to do this in the build dir
<pre>
dpkg-source: info: using source format `3.0 (quilt)'
dpkg-source: info: building pcmanfm-qt using existing ./pcmanfm-qt_0.9.0.orig.tar.gz
dpkg-source: info: local changes detected, the modified files are:
 pcmanfm-qt-0.9.0/pcmanfm/translations/pcmanfm-qt_ar.ts
 pcmanfm-qt-0.9.0/pcmanfm/translations/pcmanfm-qt_cs_CZ.ts
</pre>

[2015-02-28 22:55] pmattern opened #144 "removable media: tree view not handy"
As of now the only way to display removable media in tree view is to open their mount point within the FHS view in left pane. This isn't exactly convenient as most of the time mount points are somewhere in /run/user/\<UID\>/gvfs/\<medium\>.

I think it would be good if the root directory of removable media was represented by a temporary object in tree view's top level in left pane as shown with an

[2015-02-28 23:04] pmattern opened #145 "removable media: unmounting single medium may trigger closing all PCManFM windows"
Unmounting a single removable medium may trigger closing all PCManFM windows which isn't convenient but rather confusing.
In http://sourceforge.net/p/pcmanfm/bugs/546/ (PCManFM GTK, which behaves the same) it was even erroneously considered a crash.

In practice it happens if "Close tab containing removable medium" is set in Preferences - Volume and the device to get unmounted is displayed in all

[2015-02-28 23:43] pmattern opened #146 "removable media: incorrect display in tab remaining after unmounting"
After unmounting a removable medium the display in a possible remaining tab within the same window isn't quite correct.

If "Close tab containing removable medium" is set in Preferences - Volume and there's more than one tab per window two objects will have blue background in the tab that's displayed next after another tab was closed by unmounting. These are the object that had been displayed befo

[2015-03-01 22:42] goetzc opened #147 "Sidebar size and text cropping"
Text on the sidebar is cropped before it is necessary, there is still space to display the text, as it can be seen in the screenshots.

![pcmanfm-qt-sidebar1](https://cloud.githubusercontent.com/assets/2220440/6433332/08f74cfa-c03a-11e4-9d92-f26f680941b1.png)

Resized to make it a bit smaller:
![pcmanfm-qt-sidebar2](https://cloud.githubusercontent.com/assets/2220440/6433333/101a5a40-c03a-11e4-8419

[2015-03-01 23:51] goetzc opened #148 "Address bar completion is case-sensitive"
If the address bar would be able to auto complete no matter if the typed letter is uppercase or lowercase, the user experience could be enhanced as the program would be more intuitive to use.

Screenshot of the functionality in Dolphin:
![dolphin autocompletion](https://cloud.githubusercontent.com/assets/2220440/6433681/76e19884-c043-11e4-862c-3d5970109a9b.png)

[2015-03-02 00:01] goetzc opened #149 "Selecting multiple files to open with Enter"
When selecting multiple files to open with `Enter`, only the last one selected is opened.

To avoid accidentally opening to many files, a confirmation dialog could appear when opening more than ~6 files.

[2015-03-02 00:35] goetzc opened #150 "Text related to deleting files to trash or from device"
If `Move deleted files to "trash bin" instead of erasing from disk` is active in Preferences, and when right clicking above a file and pressing `Shift`, the context-menu text should change from `Move to trash` to `Delete` or `Delete from device`.

The same with the menu text, which is a bit weird right now. If the mentioned option in Preferences is active, the text is "Delete", but should be "Move

[2015-03-02 04:41] #106 closed

[2015-03-02 18:16] goetzc opened #151 "Don't confirm when moving files to the trash"
As a file deleted to the trash can be undeleted, it is not so important to ask confirmation, and it can even be annoying to the user. But a confirmation before deleting a file (bypassing trash) is convenient to have.

I propose to change in Preferences the behavior of `Confirm before deleting files` so that it only asks confirmation when deleting files bypassing the trash.

[2015-03-02 22:03] KaMiila opened #153 "segfaults when using --desktop switch"
tried the 0.9.0 tarball on lxqt webtise plus todays git pull and it still segfaults when issuing the --desktop switch.

Strace output can be found here:
https://dl.dropboxusercontent.com/u/71952729/strace.out

[2015-03-02 22:09] paulolieuthier commented on #153
Strace's log helps, but gdb's backtrace is of much more help.

[2015-03-02 22:09] pmattern opened #154 "tree view: hidden objects only displayed in right pane"
In Directory Tree view hidden objects are only displayed in the right pane but not within the actual tree in the left one
![pcmanfm hidden objects](https://cloud.githubusercontent.com/assets/9860801/6738271/492d8bdc-ce71-11e4-9cff-8b03bcabe792.png)

FWIW both PCManFM GTK and qtFM do display them in left pane as well.

[2015-03-02 22:11] KaMiila commented on #153
im a n00b to gdb and couldnt get it to work with the --desktop switch so I ran strace instead.

[2015-03-02 22:14] paulolieuthier commented on #153
[code]
that will do it.

[2015-03-02 22:16] KaMiila commented on #153
Reading symbols from pcmanfm-qt...(no debugging symbols found)...done.
probably because i stripped the binaries after i compiled it?

[2015-03-02 22:28] paulolieuthier commented on #153
That's because the debugging symbols are not added by default. Please compile it this way:
[code]
Then if it segfaults (while running gdb):
[code]

[2015-03-02 22:49] KaMiila commented on #153
Starting program: /build/pcmanfm-qt-git20150302/build/pcmanfm/pcmanfm-qt --desktop
Traceback (most recent call last):
  File "/usr/share/gdb/auto-load/usr/lib64/libgobject-2.0.so.0.3600.4-gdb.py", line 9, in <module>
    from gobject import register
  File "/usr/share/glib-2.0/gdb/gobject.py", line 3, in <module>
    import gdb.backtrace
ImportError: No module named backtrace
[Thread debugging usi

[2015-03-02 22:53] KaMiila commented on #153
(gdb) bt full
#0  PCManFM::DesktopWindow::setDesktopFolder (this=this@entry=0x99c280)
    at /build/pcmanfm-qt-git20150302/pcmanfm/desktopwindow.cpp:202
No locals.
#1  0x000000000043f043 in PCManFM::DesktopWindow::updateFromSettings (
    this=this@entry=0x99c280, settings=...)
    at /build/pcmanfm-qt-git20150302/pcmanfm/desktopwindow.cpp:340
No locals.
#2  0x000000000041b3cc in PCManFM::Applicat

[2015-03-03 09:58] Vladimir-csp opened #155 "File manager actions do not work"
pcmanfm-qt 0.9.0
I'm trying to test file manager actions with this test action:

[code]

It correctly matches files and dirs for action, but running the action does nothing.
Console output when triggering action:

[code]

[2015-03-03 10:17] Vladimir-csp opened #156 "File manager actions for toolbar"
I assume file manager actions with TargetToolbar=true and TargetLocation=true are not supported?
I do not see my test custom action anywhere.
If not on toolbar, it should at least be in Tool menu?

[2015-03-03 22:46] pmattern opened #157 "Places vs. Directory Tree: allow for remembering selection"
Right now PCManFM-Qt will always display "Places" view in left pane upon launch.
I think it would be good if this could be tweaked. Either by remembering what had been set when PCManFM-Qt was left before or by having it configurable (which would imho be the better choice).

[2015-03-04 16:39] goetzc opened #160 "Uneven icons margin"
As seen in the screenshot, the top margin is uneven for some icons.
PCManFM-qt:
![pcmanfm-qt files margins](https://cloud.githubusercontent.com/assets/2220440/6487952/58da0ce2-c262-11e4-9ec9-fba3f30928e1.png)

Dolphin:
![files margins dolphin](https://cloud.githubusercontent.com/assets/2220440/6488080/fb0559d6-c262-11e4-8add-8458715717e5.png)

[2015-03-04 21:08] jleclanche commented on #160
You're comparing two different icons though.

However, this also highlights that pcmanfm-qt does not set application/x-zerosize icons. cc @PCMan

[2015-03-04 21:49] goetzc commented on #160
You are right, those are not the same icons, although the behavior is the same:
![files margins dolphin](https://cloud.githubusercontent.com/assets/2220440/6494193/f5d14526-c28d-11e4-8096-fd2ab089bb59.png)

Dolphin uses that empty paper icon when the file is empty, and the other icon for non-empty text files.

[2015-03-07 12:39] Vladimir-csp opened #161 "Sorting option: hidden at the end"
Please consider adding option to sort hidden files or dirs after non-hidden

[2015-03-15 14:46] PCMan commented on #156
TargetToolbar is not supported. Yes, it might be a good idea to put it in the tool menu.

[2015-03-16 22:33] pmattern opened #163 "enhance creating new folders"
New folders can be created by accessing the context menu available over blank space in right pane only. This menu can't be accessed if e. g. in Directory Tree view a folder is opened the content of which is filling all vertical space and the horizontal space available is limited.
Within the left pane folders can't get created at all.
So I'd suggest to add an item to create new folders to the conte

[2015-03-19 12:59] luis-pereira opened #164 "Not executing .desktop files containing Exec=....pkexec...."
That's the same issue we had in libqtxdg: https://github.com/lxde/libqtxdg/issues/50

[2015-03-31 09:50] ayhanyalcinsoy opened #165 "Build-in search/find modul have to add"
We can not search file/directory in pcmanfm.

[2015-03-31 18:12] goetzc commented on #147
I realized this apparent empty space is reserved for a whole column, where the 'remove media' icon is.

![pcmanfm-qt-media](https://cloud.githubusercontent.com/assets/2220440/6925660/8dbfb606-d7a6-11e4-90b1-80c2156f4eb9.png)

It would be nice if the icon would only appear above the text when needed, not affecting the other rows.

[2015-04-05 13:20] Esclapion opened #167 "Open with single-click"
If I enable it, the desktop applications are also launched by a single click and it's good.
But, generally, what does a double-click in this case ?
A user who has the habit to do a double-click and has the current problem of the shortcuts in the taskbar (who can need one or two) will have his applications launched twice.

I propose to redirect double-click to single-click in this case, if it's no

[2015-04-06 16:40] luebking opened #168 "qunsetenv("QT_NO_GLIB"); required before constructing the application"
gobject doesn't work w/o the glib dispatcher, try

QT_NO_GLIB=1 pcmanfm-qt

and wait .... forever ;-)

[2015-04-11 09:09] pmattern commented on #109
Sorting got fixed. Thanks.

But the other problems persist: columns as stated in first post are still missing, a selection of columns to be displayed isn't possible.

So I'm sorry but I really think this should be re-opened.
(If you should prefer to transfer the remaining topics into an issue on their own, let me know.)

[2015-04-11 19:35] pmattern commented on #16
Running latest Git code of all LXQt components on Arch Linux i686 or x86_64 some problems like #108 still exist but basically everything works pretty well.
Tests performed using FTP, SFTP or SMB, the latter in a pretty rudimentary way only.

So actually I think this one can be closed.

@pvanek Any chance to verify?

[2015-04-18 12:00] headbank commented on #61
If this were bugzilla, I'd vote for this ;)

Out of interest, do you anticipate staying with gvfs/gio for this, or using kio? Coming from KDE I recognise that kio probably brings heavier KDE-specific dependencies than gvfs does for GNOME, but AFAIK kio supports more protocols.

[2015-04-25 08:28] pmattern opened #170 "relative paths stated by xdg-open not considered"
If PCManFM-Qt is set as default application to handle inode/directory as stated by `xdg-mime query default inode/directory` it won't consider relative paths stated by `xdg-open <path to directory>` but open the root directory instead.
An apparent manifestation is Chromium's button "Show in folder" to open downloaded files in a file manager which seems to invoke xdg-open accordingly.

The problem i

[2015-04-25 15:48] #168 closed

[2015-05-03 00:00] KaMiila commented on #153
Still trying new git versions, and this is still doing the same thing.  Slackware64-current qt5 5.4.1  Since this segfaults the Desktop plugin will never load, making LXQT unsuable.  What am I doing wrong?  This is my lxqt slackware build scripts I wrote to compile and install this:  https://github.com/KaMiila/SlackBuilds/tree/master/lxqt

[2015-05-03 02:39] KaMiila commented on #153
here is a valgrind output:  http://pastebin.com/QrQivut6  <-- line 51 "Invalid read of size 8" is this of important significance?

[2015-05-03 10:30] ghost opened #172 "Unable to set the font size for root"
I think I tried everything to no avail:
lxappearance executed as root
lxqt-config-appearance executed as root
obconf(-qt) executed as root
qt5ct executed as root
Copying Trolltech.conf to root
Changing config files under /etc/xdg
The size stays at 10

[2015-05-03 15:47] pmattern commented on #109
Reopening.

[2015-05-03 15:53] pmattern commented on #109
Reopening

[2015-05-03 16:14] pmattern commented on #109
Sorting is basically working now. But whenever PCManFM-Qt starts over, e. g. new session or reboot, the sorting is now set to "Ascending" whatever was set when quitting before.

Also, the other problems persist: columns stated in first post are still missing, selecting columns to be displayed isn't possible.

Thus reopening.

[2015-05-04 11:53] ThebestwaytodesignJoinGitHub commented on #172
Found the solution by myself:
QT_STYLE_OVERRIDE=gtk written in /etc/environment
(maybe also XDG_CURRENT_DESKTOP=LXQt)

[2015-05-04 13:32] ThebestwaytodesignJoinGitHub commented on #172
Just realized this works only using pkexec

[2015-05-05 11:26] excalibur1234 commented on #163
in dolphin and thunar you can press CTRL + SHIFT + N to create a new folder. it even works in windows. it is like a quasi-standard. but this keyboard shortcut does not work in pcmanfm-qt.

is there already another keyboard shortcut to create a new folder in pcmanfm-qt or can you add this keyboard shortcut?
it is not comfortable to keep switching between the mouse and keyboard just to create a new

[2015-05-15 11:49] ufleisch commented on #153
Looking at the stack trace and the code I see the following reason:

* You have multiple monitors.
* `Application::desktopManager()` loops through your screens calling `createDesktopWindow(i)` for each screen.
* `Application::createDesktopWindow()` creates a `new DesktopWindow(screenNum)`, the constructor of this class has a check (desktopwindow.cpp:88)<br/> `if(desktopWidget->isVirtualDesktop() |

[2015-05-15 13:59] pmattern commented on #163
The commit proposed in lxde/pcmanfm-qt#173 works as expected, both on i686 and x86_64 and including the keyboard shortcut.
So thanks, @ufleisch.

Yet a context menu of folders is still missing completely in tree view's left pane, the one in right pane doesn't offer creating new folders.
This may be a matter of taste but I still think at least a context menu in tree view's left pane is something pr

[2015-05-22 18:04] stefonarch commented on #136
Shows up now in submenu lxqt-settings.

[2015-05-22 18:04] #136 closed

[2015-05-25 13:38] ufleisch opened #176 "Flickering when manually resizing columns"
When manually resizing columns in detailed list view, at the point where a horizontal scroll bar has to be inserted or removed, the column headers are flickering badly, the column sizes are changed and one has to pull the size handle over this critical area in order to set the column size.

[2015-05-25 13:45] ufleisch opened #177 "Empty space wasted in all columns after the first by invisible icon"
In detailed list view, there are file icons in the first "Name" column, which is OK. However, the same amount of space is wasted by an empty icon in all other columns although there is no icon to display there.

By the way: Is it really necessary to use so much space for the Type, Size and Modified columns? If I have a ".tgz" file in a folder, the "Type" column is as large as "Tar archive (gzip-co

[2015-05-25 15:09] #176 closed

[2015-05-25 15:09] #177 closed

[2015-05-28 13:57] luis-pereira commented on #164
Fixed by lxde/libfm@fad5a9a3e3a3148d1275b7ba048614aa4c7c0414

[2015-05-28 13:57] #164 closed

[2015-05-29 05:53] ufleisch commented on #153
Here is an easy way to reproduce the crash. You do not need multiple monitors, you need a setup with multiple displays on an X11 screen, which is not the case when using xrandr as far as I know. You can simulate a setup with two displays :1.0 and :1.1 using Xephyr (if screen :1 is already occupied, just replace it by another number).

[code]

[2015-05-30 06:47] ufleisch opened #179 "Sorting folder first does not work with descending sort order"
When sort order is descending and folder first is active, folders are last instead of first. Besides this, the "Folder First" setting is not stored persistently.

[2015-05-30 08:36] ufleisch commented on #153
To avoid a crash after right-clicking into such a screen, the following has to be prepended to the quick fix patch suggested before:

[code]
However, such a setup does not seem to be usable. No desktop icons are displayed, and frankly, I do not know what pcmanfm-qt on such a secondary screen without model is supposed to do, so someone who knows it will have to fix this.

[2015-05-30 09:35] ufleisch opened #181 "Sorting case sensitive does not work"
Switching "Sorting/Case Sensitive" on and off does not seem to change anything - sorting is always case-insensitive. Besides this, the setting is not stored persistently.

[2015-05-30 12:44] #179 closed

[2015-06-01 21:09] oouuppss opened #183 "enable/disable background painting in desktop mode"
Desktop GUI option should have a check box to let user choose or not if pcmanfm-qt define background.
This will let them use another program, or script with they specific need or wish.
I'am currently using feh script to print random background at startup, and after some time; i must delete pcmanfm-qt from startup to let my script working.
Thanks

[2015-06-02 00:21] oouuppss commented on #98
Yes should be great to let user define their own app.
I use dtrx, just a shell  script
http://brettcsmith.org/2007/dtrx/

[2015-06-12 20:14] pmattern commented on #141
@ArthurBorsboom
Any chance to have another look at this?

[2015-06-12 20:26] ArthurBorsboom commented on #141
Changing the lxqt theme does have direct effect on the lxqt-panel.
Maybe I should have asked the question differently, like this.

What theme or setting do I need to change to have pcmanfm-qt to the same orange/dark gray colors of the Ambient theme, preferably a black background instead of the bright white one.

![2015-06-12-222511_960x618_scrot](https://cloud.githubusercontent.com/assets/6639859/

[2015-06-17 20:29] pmattern commented on #163
The last commit is just the re-factored flavour of the one proposed in #173 on May, 15.

Hence reopening for the reasons stated in my previous post.

[2015-06-18 20:38] pmattern opened #186 "usual build procedure omits translation of desktop entry files"
The usual `cmake && make` doesn't consider the translations of pcmanfm-qt[-desktop-pref].desktop in ./pcmanfm/translations/ (source tree).

[2015-06-18 22:27] luis-pereira commented on #186
pcmanfm-qt doesn't use the LXQt translation stuff.
@PCMan What's your opinion about using LXQt translation stuff here ? Without depending on liblxqt.

[2015-06-19 04:33] PCMan commented on #186
I'm OK with that given it does not add new dependencies. :-)

[2015-06-19 08:29] pmattern commented on #186
Just curious:
The actual UI itself does get translated. Which method other than "LXQt stuff" is used to achieve this?
What's so bad about depending on liblxqt? PCManFM-Qt is LXQt's file manager after all.

Thanks.

[2015-06-19 08:46] PCMan commented on #186
1. CMake itself can handle Qt translations and I used that.
2. The reason not to use liblxqt is simple. We currently do not need any function from it. Linking to more libraries means longer loading time due to dynamic linking and symbol resolution.

[2015-06-19 11:05] luis-pereira commented on #186
@PCMan CMake can't handle .desktop files. I can just copy the CMake modules that handle translations on liblxqt to pcmanfm-qt. lximage-qt, for example, already uses LXQtTranslateDesktop.cmake. But linking to liblxqt isn't necessary to use the translation stuff. It's an compile time dependency. An runtime dependency is only needed if one want's to use the automatic runtime translation loader.
We ca

[2015-06-21 08:45] ufleisch commented on #163
I have just created a new pull request which should address the remaining issues.

[2015-06-21 12:28] pmattern commented on #163
Regarding #187:

The side pane's mode is safed per session only. After login out and in again PCManFM-Qt keeps using places view upon launch.
Actually this behaviour is addressed in #157.

A context menu featuring an item "Create New Folder" was introduced in left pane. The context menu *of folders* in right pane still lacks an item like this, though.

[2015-06-22 18:54] ufleisch commented on #163
I have added another commit which factors the "Create New" menu out to be used in both the folder and the file menu. This commit also fixes a crash which happens when the default side pane is set to the directory tree and "Open in New Window" is triggered from the folder menu of the right pane. It was caused by the context menu action accessing the menu which was already deleted (when the context

[2015-06-23 15:16] pmattern commented on #163
If a new folder or blank file is created in the right pane by selecting a folder (left-click) and invoking 'Create New' - { Folder , Blank File } from the context menu the new object isn't created in the selected folder but in its parent folder.
The problem doesn't exist in left pane, creating new objects from the context menu over files or blank space in right pane works as expected, too.

As for

[2015-06-23 16:58] ufleisch commented on #163
I have added another commit so that new files or folder are now created in the selected folder.

[2015-06-23 18:39] ufleisch commented on #157
The problem is that when logging out, PCManFM-Qt is terminated by SIGTERM. The `aboutToQuit()` signal is not emitted in this case and therefore the settings are not saved. If have added a commit which installs a SIGTERM handler which then `quit()`s the `QApplication` so that aboutToQuit() is signaled and the settings are saved.

[2015-06-23 19:03] pmattern commented on #163
Everything is working as expected now. Thanks for looking into this.

There's one one polish thing that *could* be considered: in submenu "Create New" in menu file there's an icon next to folder, aside from this there isn't an icon in any of the other locations ("Blank File" in menu file - "Create New", "Create New" in context menus of left and right pane altogether).
It could be considered to hav

[2015-06-23 19:13] pmattern commented on #157
ufleisch/pcmanfm-qt@a84ad62 works as expected here.

[2015-06-24 16:31] ufleisch commented on #163
I have added a commit for an icon in the "Create New Folder" context menu.

[2015-06-24 21:19] pmattern commented on #163
In my last statement I wasn't referring to the inconsistencies regarding the different locations of menu "Create New" only but also regarding "Folder" vs. "Blank File".
But as also said above, just some minor polish, of course.

[2015-06-25 20:01] ufleisch commented on #157
I have rebased my branch on master and reorganized the commits for the two referenced issues.

[2015-06-25 20:02] ufleisch commented on #163
I have rebased my branch on master and reorganized the commits for the two referenced issues.

[2015-06-25 20:33] pmattern commented on #157
FWIW no problems due to rebasing. Still everything working as expected here.

[2015-06-25 20:36] pmattern commented on #163
All features discussed in this issue implemented pretty good now.
No problems introduced by rebasing.

[2015-06-25 21:10] excalibur1234 opened #188 "visual improvement: hide menu bar"
after a week of using the file manager, i usually have set up everything the way i like it. then, i have no need for the menu bar anymore. i would like to be able to hide it for a cleaner look.

thunar and other file managers can hide (and unhide) their menu bars with a keyboard shortcut (usually: CTRL + M). they usually have an option in the "view" menu to hide the menu bar, too.

[2015-06-26 18:07] luis-pereira commented on #143
@agaida If it worked the same way the lxqt packages, it would be Ok ?

[2015-06-26 18:17] luis-pereira opened #189 "lifbm-qt: Generate config.cmake files"
lximage-qt uses it. Without them we can't use `find_package()`.

[2015-06-27 10:17] ufleisch opened #190 "Column layout is not always updated"
###### Steps to reproduce

Create a test folder with some contents:
[code]
Now start pcmanfm-qt, set left side pane to "Places", right side pane to "Detailed List".

1. Change to directory "layouttest",
2. then to directory "a bit longer filename 1",
3. then back to parent (Alt-Up).

Everything is displayed correctly.

Now set left side pane to "Directory Tree", and repeat the steps 1-3. The folde

[2015-06-30 15:18] luis-pereira commented on #143
@agaida ping

[2015-06-30 16:05] agaida commented on #143
@luis-pereira pong - i think yes

[2015-06-30 16:50] luis-pereira commented on #186
@pmattern @PCMan Check https://github.com/lxde/pcmanfm-qt/pull/192

[2015-06-30 16:52] luis-pereira commented on #143
@agaida Check https://github.com/lxde/pcmanfm-qt/pull/192

[2015-07-01 02:53] PCMan commented on #186
I'm ok with that as long as no new "runtime" dependency is required.
Sorry for the late and infrequent replies. Fighting with real life issues now. :-(

[2015-07-01 10:34] luis-pereira commented on #186
@PCMan That's life. The changes don't introduce __any__ dependency.

[2015-07-01 12:34] pmattern commented on #186
Commits proposed in #192 are working as expected here and solve this issue. Arch Linux i686 and x86_64.

Didn't check any eventual new dependencies but just trusted what @luis-pereira said with regards to this.

[2015-07-01 13:45] luis-pereira commented on #186
@pmattern I copied the CMake modules from liblxqt to the pcmanfm-qt tree, so no dependencies, not even build time depedencies.

[2015-07-07 17:35] pmattern commented on #186
Unfortunately there seems to be a regression: as of e880e33 translations in left pane as those flagged by arrows in following screenshot
![lxqt_pcmanfm-qt_missing-translation-left-pane](https://cloud.githubusercontent.com/assets/9860801/8552717/33e205cc-24df-11e5-9fb8-529e1eabc953.png)
aren't considered any longer.

[2015-07-07 22:25] luis-pereira commented on #186
@pmattern I will take a look.... tomorrow. I'm just to exhausted to look at any code.

[2015-07-07 22:27] pmattern commented on #186
@luis-pereira
Take your time! We're not in a hurry with regards to this!

[2015-07-08 15:34] luis-pereira commented on #186
@pmattern Fixed in the latest master.
Portuguese screenshot
![screen-2015-07-08-08-01-33](https://cloud.githubusercontent.com/assets/62877/8574080/aa835202-2549-11e5-9fbe-3c46d96db1b5.png)

[2015-07-08 15:35] #186 closed

[2015-07-08 16:44] pmattern commented on #186
Confirmed.

Just curious: what icon theme is that?

[2015-07-08 19:43] luis-pereira commented on #186
The good looking Numix icon theme. https://github.com/numixproject/numix-icon-theme

[2015-07-09 05:04] PCMan commented on #157
merged.

[2015-07-09 05:04] #157 closed

[2015-07-10 07:30] #170 closed

[2015-07-10 09:54] PCMan commented on #143
This should already be improved by the new translation infrastructure built by luis-pereira.

[2015-07-10 09:54] #143 closed

[2015-07-10 09:56] PCMan commented on #63
Is issue still valid? Does the bug still exist? I'm not able to reproduce it with the latest code.

[2015-07-10 10:17] pmattern commented on #163
If I'm not mistaken the strings additionally introduced aren't subject to translation yet.

[2015-07-10 11:14] #190 closed

[2015-07-10 11:14] PCMan commented on #190
Thank you for the detailed bug report.

[2015-07-10 11:51] PCMan commented on #154
Fixed.
https://github.com/lxde/pcmanfm-qt/commit/79e2e5e66f0586e78d3625974b61f76da2e96cd8

[2015-07-10 11:51] #154 closed

[2015-07-10 12:35] PCMan commented on #163
The UPDATE_TRANSLATIONS option in CMakeLists is turned off by default.
We can update the translations manually at once later when the UI strings are frozen.

[2015-07-10 13:01] PCMan commented on #141
There is no way to do this at the moment.
lxqt-panel is themed using its own qss style.
Other Qt apps just use the default Qt theme engine.
It's not a bug. It's the limitation of Qt.

[2015-07-10 13:01] #141 closed

[2015-07-12 12:04] agaida opened #194 "Alt-F4 and pcmanfm-qt deskop"
the pcmanfm-qt instance who paint the desktop should not be closed on a Alt-F4 event
@PCMan

[2015-07-12 14:00] pmattern commented on #194
Just curious: what's the actual problem you're facing? Just tried to provoke some faulty behaviour by closing PCManFM-Qt windows by Alt+F4 to no avail.

[2015-07-12 15:12] agaida commented on #194
no app running - Alt-F4 - upps, there goes the desktop background and the folders ...

[2015-07-12 18:04] pmattern commented on #194
Just tried to reproduce this: Arch Linux x86_64 "bare metal" and KVM/QEMU VM, Arch Linux i686, Lubuntu 15.04 and Sicuction in KVM/QEMU VM, all up-to-date and latest LXQt checkouts from their typical sources - to no avail.
No apparent problems, no error messages in systemd journal, PID of PCManFM-Qt stays the same!?

Btw. doesn't --desktop involve running PCManFM-Qt in daemon mode?

(Also wanted to

[2015-07-12 20:35] agaida commented on #194
ok - after testing a little bit more - this doesn't happend with openbox - but with xfwm4
no other window managers tested so far

[2015-07-12 20:39] agaida commented on #194
another strange thing: if i start a 'normal' pcmanfm-qt - this will start the pcmanfm-qt --desktop process too.

[2015-07-13 06:45] fguzm opened #195 "Crash when rightclick on item in trash"
...but only when 'move deleted files to trash bin' in preferences is untagged.
[code]
(Some programs move files to trash, even though trash isn't 'enabled' in pcman)

Debian 64 testing, lxqt from siduction

[2015-07-13 18:57] pmattern commented on #195
Confirmed as described above.
PCManFM-Qt from latest Git checkout on Arch Linux as well as from PPA ppa:lubuntu-dev/lubuntu-daily on Lubuntu 15.04, both x86_64, both using Qt 5.4.x. (Also tried to test on Debian stable hence Qt 5.3.x but can't get LXQt running in my KVM/QEMU VM right now.)

This comes to no surprise. The trash is following a [specificaion](http://www.freedesktop.org/wiki/Specifica

[2015-07-16 10:50] pmattern opened #197 "Desktop Preferences: menus provided by window manager not displayed any more (suspect Qt 5 bug)"
Setting "Show menus provided by window managers..." in GUI "Desktop Preferences", Tab "Advanced" (`pcmanfm-qt --desktop-pref=advanced`) isn't working as expected any more on up-to-date Arch Linux systems running all LXQt components from latest Git checkouts and Openbox.

If it's checked clicking an arbitrary mouse button on the desktop doesn't have any effect at all.
Setting 'ShowWmMenu' in ~/.con

[2015-07-20 10:52] pmattern opened #198 "missing display of icons due to limitation in QIcon"
PCManFM-Qt doesn't display icons located at some of the paths covered by the [Icon Theme Specification](http://www.freedesktop.org/wiki/Specifications/icon-theme-spec) due to a bug in QIcon.

This affects desktop entry files placed on the desktop (XDG_DESKTOP_DIR in terms of [xdg-user-dirs](http://www.freedesktop.org/wiki/Software/xdg-user-dirs), see #99 and lxde/lxqt#915), context menu `Open with

[2015-07-22 08:04] antis81 opened #200 "segfault with invalid path in address bar"
Typing an invalid (not existing) path causes pcmanfm-qt to segfault (e.g. `/this/dir/does/not/exist`).

System:
[code]

[2015-07-22 11:02] luis-pereira commented on #200
Can't reproduce it.
![screen-2015-07-22-03-20-42](https://cloud.githubusercontent.com/assets/62877/8823989/648dca7e-3026-11e5-8042-59b99e64d6a0.png)

[2015-07-22 15:55] antis81 commented on #200
Hm ... actually pcanfm-qt just quits here - without message. Wasn't sure about a crash (apparently there's no crash report or coredump).

[2015-07-22 16:31] luis-pereira commented on #200
I'm using the latest libfm/libfm-qt/pcmanfm-qt. It works just fine

[2015-07-22 18:30] pmattern commented on #200
Seeing the same problem on up-to-date Lubuntu 15.04 with LXQt from ppa:lubuntu-dev/lubuntu-daily here but neither on Arch Linux running LXQt from latest Git checkout nor on Siduction running LXQt from their repos.
So it's pretty obviously a downstream issue, closing as such.
You may want to poke the PPA maintainers about it. After a while a GUI to submit a bug report cropped up here. Maybe you can

[2015-07-22 18:30] #200 closed

[2015-07-23 06:34] antis81 commented on #200
Thanks. This is a minor issue - I'll wait for next upstream release.

[2015-07-28 10:21] pmattern opened #201 "ease completion in address bar"
Right now there's no means to complete paths in address bar by hitting a single key, in particular `Tab` is keeping its usual functionality to jump between UI elements if the cursor is in address bar.
Also, the drop-down list presenting subdirectories of the directory that's actually in address bar gets displayed only if a trailing slash is suffixed.
Altogether this makes manually filing paths in

[2015-07-28 20:07] pmattern commented on #194
Confirmed running Xfwm4. Corresponding messages in systemd journal are
[code]
Analogue findings can't be made running Xfwm4 on Xfce and the problem ceases if `Alt+F4` gets action "close window" unassigned which it had been assigned on Openbox as well when it did not appear, btw.
Looks indeed as if that action got forwarded to the wrong object.

[2015-08-04 08:41] antis81 opened #203 "devices do not show up in "root" mode"
When opening a pcmanfm-qt window as root (e.g. via menu `Tools->Open as Root`), neither mounted or available devices (removable media) do not show up in the side bar.

![pcmanfm-no-devs](https://cloud.githubusercontent.com/assets/440517/7531856/2090195e-f560-11e4-8279-8aaa46303e6f.png)

This issue probably relates to #144.

[2015-08-04 10:56] pmattern opened #204 "Use lxqt-sudo by default"
In order to open a new window as root (Tool - Open as root) PCManFM-Qt is looking for gksu as backend ~~only~~ by default.
This should be replaced with `lxqt-sudo` introduced recently in the long run.

Btw. shouldn't this be 'Tool*s*' in the menu bar?

[Edit: correct that backend can be chosen and hence gksu isn't the only one available but just the default]

[2015-08-14 14:49] comicfans opened #205 "ProxyFolderModel::lessThan didn't check FmFileInfo null leads crash (when LC_ALL=C)"
only crash when LC_ALL=C ,maybe related to i18n string.
steps to reproduce:
1. export LC_ALL=C and run pcmanfm-qt
2. click on Network folder
pcmanfm-qt crash.
backtrace  show that
ProxyFolderModel::lessThan line 123
bool rightIsFolder = (bool) fm_file_info_is_dir(rightInfo)
passed NULL to fm_file_info_is_dir
and fm_file_info_is_dir didn't check if passed in parameter is NULL.

but LC_ALL=en_US.UTF

[2015-08-15 04:02] 8fm commented on #204
You can change it in settings: http://i.imgur.com/fRUQUlCh.png
But this does not working for me. But I still can run "lxqt-sudo pcmanfm-qt" from command line and get it working.

[2015-08-15 04:05] q4a commented on #204
You can change it in settings: http://i.imgur.com/fRUQUlCh.png
This does not working for me: nothing happens. May be it's lxqt-sudo bug?
PS I still can run "lxqt-sudo pcmanfm-qt" from command line and get it working.

[2015-08-15 04:21] q4a commented on #145
I think it's not related to removable media. PCManFM-Qt closing when you trying to access non existing folder. For example type /ereferfer in address bar. You don't have folder "ereferfer" and PCManFM-Qt will close all your tabs.
And I think that it's bug. User should get error message, but not closing all tabs.

[2015-08-15 12:01] pmattern commented on #145
Closing windows upon entering invalid paths could be due to the downstream issue that was discussed in #200 and that still exists.
At least I can't reproduce it running PCManFM-Qt from recent VCS checkout which rather shows the warning message mentioned in #200 as well.
To further track you may want to toggle the settings in Preferences - Volume - "When removable medium unmounted" as the problem d

[2015-08-15 14:57] pmattern commented on #204
Of course. I had totally forgotten that setting when filing this issue and modified stuff accordingly.

The apparent malfunction of `lxqt-sudo` is probably due to the fact that PCManFM-Qt isn't assuming `sudo` as backend but `su` and support of the latter is [wip](https://github.com/lxde/lxqt-sudo/pull/7) in `lxqt-sudo`.

(So basically this issue has to be postponed until the problems that came up

[2015-08-18 02:25] q4a commented on #200
reported to launchpad: https://bugs.launchpad.net/lubuntu-next/+bug/1485826

[2015-08-21 12:37] pmattern opened #206 "localisation: several strings missing in TS files"
Several strings within the main window aren't subject to translation.

→ Dialog "Preferences" (Menu Edit - Preferences)
* Behaviour
  * Browsing: item "Bookmarks" and all values in corresponding drop-down
  * File Operations: "Erase files on removable ...", "Confirm before moving files ...", "Don't ask options on launch executable..."
* Display: header itself (left pane)
  * User interface: header

[2015-08-22 23:35] Atalanttore commented on #61
GVFS is much more reliable than KIO. I would replace KIO with GVFS in KDE if I could.

[2015-08-22 23:39] Atalanttore opened #207 "Bookmarks for frequently used network shares"
Hi,

I miss bookmarks for frequently used network shares very much. I would appreciate such a feature.

Regards,
Ettore

[2015-08-23 02:43] jleclanche commented on #61
We'll probably use gvfs. pcmanfm-qt uses gvfs already.

[2015-08-24 19:12] pmattern commented on #207
This is working on a VCS checkout made some days ago on Arch Linux here. E. g. here
![pcmanfm-qt_bookmarks-vs-network-shares](https://cloud.githubusercontent.com/assets/9860801/9449708/ab85c20e-4aa4-11e5-92c5-72081a7c1c49.png)
an SFTP share on a host `st-test1` was selected under "Devices" and bookmarked as usual. The corresponding topic under "Bookmarks" could then be used to connect to the share

[2015-08-24 19:47] Atalanttore commented on #207
They are lost after a system restart.

[2015-08-24 20:29] pmattern commented on #207
Not in general. Bookmarks referencing network shares as stated above do not get deleted during reboots on Arch Linux (LXQt from AUR VCS packages), Lubuntu 15.04 (PPA ppa:lubuntu-dev/lubuntu-daily) or Fedora 23 alpha (Rawhide).
So either a downstream issue affecting your platform in general or something wrong with your particular system.

[2015-08-25 10:36] bruno50 opened #208 "Safety remove drive"
Can you add a "safety remove drive" command on pcmanfm for USB keys or USB drive
I'm newbee user of LXQT. It's not an issue but it will be better. Sorry for my English. I don't know if it is the correct way for this request. Thank-you
Best regards

[2015-08-25 13:20] bruno50 commented on #208
Sorry, i was not enough precis :
for an USB key i have two functions : Umount and Eject
for an USB disk i have only the function Umount
Regards

[2015-08-26 15:28] gCurse commented on #206
See my pull request #209.

[2015-08-27 12:20] pmattern commented on #206
The commit proposed in #209 is addressing dialogue "Preferences" only. It worked as expected here so I merged both the commit and an adjusted version of the German translation.

Items summarized under "FHS view" still open, though. Seems like some tags in the sources are missing (which I can't check myself atm).

[2015-08-27 15:13] tsujan opened #210 "PCManFM-qt doesn't paste into selected folder"
PCManFM-qt doesn't paste copied items into a folder when it is just selected (as the paste destination) and not opened; instead it tries to paste them into the currently open folder (that contains the former). That seems somehow unintuitive, especially to a user who comes from KDE/Cinnamon/Gnome to LXQT. This simple patch fixed it for me:

https://dl.dropboxusercontent.com/u/7793460/paste_into_fol

[2015-08-27 16:39] tsujan commented on #210
Perhaps the part under "void MainWindow::on_actionPaste_triggered()" is not needed.

[2015-08-28 10:47] gCurse commented on #206
See my pull request #211.

[2015-08-28 17:11] agaida commented on #204
@pmattern - makeing lxqt-sudo default would introduce a dependeny (or at least a recommend) to lxqt-sudo, so pcmanfm-qt should look if lxqt-sudo is present and has a reliable fallback - no clue if this is a really clever move (mind using pcmanfm-qt outside of LXQt). But i would second this.

[2015-08-28 23:39] tsujan opened #213 "Custom Folder Icons in PCManFM-qt (patch)"
The following patch is for libfm and makes PCManFM-qt read the file ".directory" inside a folder (if it exists) and set the icon of that folder accordingly, as is the case with Dolphin and Konqueror. It works for me.

https://dl.dropboxusercontent.com/u/7793460/libfm-custom_directory_icon.diff.gz

For now, PCManFM-qt doesn't do anything when the folder icon on the Properties dialog is clicked but

[2015-08-29 11:19] pmattern commented on #213
Any particular reason why don't submit your suggestions as pull request and deposit the patches on a third-party server instead?

[2015-08-29 11:29] tsujan commented on #213
I just didn't know that's the right way.

[2015-08-29 11:34] pmattern commented on #213
You may want to have a look at https://github.com/lxde/lxqt/blob/master/CONTRIBUTING.md and the links therein.

[2015-08-29 11:38] tsujan commented on #213
Thank you very much!

[2015-08-29 12:10] pmattern commented on #204
@agaida
Are you sure regarding dependencies?
Grepping through the code and running `ldd` strongly suggest that it's not a dependency at all but just a configuration setting, see [here](https://github.com/lxde/pcmanfm-qt/blob/184da38cc965fc93f52d09d1d1f6e3822214a23c/pcmanfm/settings.cpp#L152).
So trading `gksu` with `lxqt-sudo` or [what ever it may be renamed to](https://github.com/lxde/lxqt/issues

[2015-08-29 15:27] #213 closed

[2015-08-30 00:14] agaida commented on #204
not a build dependency or so - but i would consider a program broken if it blindly trust in the presence of another package - so this should be handled gracefully - in that case it isn't a dependency, just  recommended.

[2015-08-30 12:34] pmattern commented on #204
Don't know whether there's some kind of common approach to deal with "soft dependencies" like this. But isn't it rather downstream's / packager's job to craft their packages accordingly, something like `optdepends` on Arch Linux or `Recommends` / `Suggests` on Debian and derivatives?

Nevertheless I still think trading `gksu` with something different wouldn't change the situation regarding depende

[2015-08-31 14:15] pmattern commented on #206
Context menu items `Open in {New Tab, New Window, Terminal}` are inconsistent in left and right pane now (`Öffnen in...` vs. `In ... öffnen`). Yours are better.
So could you adjust the ones from right pane to those from the left one and squash it into your commit (`Öffnen in...` everywhere)? This would save a dedicated commit which actually isn't worthwhile.

[2015-09-02 12:30] #207 closed

[2015-09-02 19:41] ferronrsmith opened #217 "pcmanfm-qt closes abruptly"
There are 2 cases where this happens.

- If I create a bookmark for a folder
- Delete the folder
- Try to navigate to the folder (deleted) using the bookmark. pcmanfm crashes

I using maven alot for work

- If I navigate inside the `targets` folder
- Then perform a mvn clean via the terminal (which removes the targets folder)
- pcmanfm-qt crashes.

Are these expected behavior ?

Expected behavior

[2015-09-03 07:30] #210 closed

[2015-09-03 09:18] pmattern commented on #206
Closed via #209 and #211.

[2015-09-03 09:18] #206 closed

[2015-09-03 17:22] pmattern commented on #217
Running LXQt from VCS checkouts on Arch Linux x86_64 I'm just getting an ordinary message telling me the folder in question is no longer available when trying to reproduce your findings regarding bookmarks.

As for the second finding, namely an apparent crash if the folder that's actually displayed gets deleted by another application, I remember very well I had seem something similar not too long

[2015-09-03 17:34] ferronrsmith commented on #217
Currentl version of pcmanfm-qt - 0.9.0+bzr355+201509012231~ubuntu14.04.1

[2015-09-04 07:48] Baltasarq opened #220 "An option for the kind of drag&drop"
Whenever I _drag&drop_ a file in another **pcmanfm-qt**, a menu is shown (see below) asking whether I'd like to copy, move or create a symbolic link. And that's probably great for some users.

For me, I like the old behaviour (**pcmanfm-gtk2**?) in which dragging and dropping a file would just move it. If done while pressing Ctrl, then pcmanfm would copy it. And I think that doing that while press

[2015-09-04 09:43] pmattern commented on #220
This would indeed be pretty helpful. Notes:

Feature is already available in PCManFM (GTK).
![pcmanfm_dnd-default-action](https://cloud.githubusercontent.com/assets/9860801/9680798/c1afdea4-52f9-11e5-8554-63782e708b20.png)

Regarding PCManFM-Qt the current behaviour is not limited to d&d between different windows but can also be seen while moving within the right pane pane (copying / moving from l

[2015-09-04 16:40] stefonarch commented on #201
+1, it's one of the things I miss mostly.

[2015-09-04 16:45] stefonarch opened #224 "Dragging to directory in sidebar with tree view not possibile"
There is no way to drag any file in a directory in the sidebar when "tree view" is chosen.

[2015-09-04 17:12] pmattern commented on #224
Problem is affecting places view as well and hence this is a duplicate of lxde/lxqt#446 if I'm not mistaken. (Directory Tree view mentioned in the course of the discussion only.)

[2015-09-04 19:39] stefonarch commented on #224
No problem with place view here.

[2015-09-05 11:56] pmattern commented on #224
To avoid misunderstanding please reproduce like this: open your home folder in places view
![pcmanfm-qt_d-and-d_places-vs-panes](https://cloud.githubusercontent.com/assets/9860801/9699109/aa7dd4fc-53d5-11e5-8e29-ad216c16534c.png)
and drag an object from the right pane into the folder representing the Desktop in the left pane. Does the object really show up on your desktop then?
Tbh I hardly believ

[2015-09-05 13:21] stefonarch commented on #224
Ok, same here, I was mislead by the green + icon which appears and did not finish.
In the tree view the red (-) icon (impossible) appears instead immediately.

[2015-09-05 14:42] pmattern commented on #224
Cannot see any such icons here which may be due to different icon themes in use or whatever

Nevertheless I'm now convinced this should belong to lxde/lxqt#446. Feel free to add any relevant finding to that issue or let me know if you should disagree.

[2015-09-05 14:42] #224 closed

[2015-09-05 18:32] stefonarch commented on #224
The icons maybe are from my kde part, I'm running kwin and dolphin as default filemanager.
Closing because duplicate.

[2015-09-08 11:21] pmattern opened #226 "improvements regarding external applications"
**The UIs to chose external applications should be consistent**
In `Preferences - Advanced` the terminal emulator can be chosen from a drop-down providing a hard-coded list or edited manually, the application to switch the user can be edited manually only, the archiver can be chosen from a hard-coded list only.
I think it would be better if this was consistent and those three choices were offered

[2015-09-08 11:23] pmattern commented on #90
Seems rather like a question that got answered without reply.
Any remaining aspects are covered by #226, IMO.

[2015-09-08 11:23] #90 closed

[2015-09-12 11:35] PCMan commented on #208
Would you please give me the output of the following command line to help debugging?

This command is a utility provided by gvfs.
With its output, we can see what happens.
Thanks!

[2015-09-12 11:46] #205 closed

[2015-09-12 11:56] PCMan commented on #217
I'm not able to reproduce the crash here.

[2015-09-12 11:59] PCMan commented on #203
Confirmed.

[2015-09-12 12:13] PCMan commented on #198
This is actually a limitation or bug of Qt.
The xdg support of QIcon does not handle /usr/share/pixmap directory AFAIK.

[2015-09-12 12:23] PCMan commented on #197
Confirmed.
The Qt nativeEventFilter() does not seem to receive the button press events from XCB.
This might be a regression bug of Qt 5.5. :-(

[2015-09-12 12:26] PCMan commented on #197
Alternatively, we can try to install the event filter on DesktopWindow rather than QDesktopWidget.
Previously we install the filter on QDesktopWidget, which might have been changed.

[2015-09-12 12:39] pmattern commented on #198
Oops, [indeed](https://bugreports.qt.io/browse/QTBUG-33123). Any chance to handle this the same way as panel's plugin-mainmenu for now?

[2015-09-12 12:49] #195 closed

[2015-09-12 13:02] PCMan commented on #151
it's already implemented.

[2015-09-12 13:02] #151 closed

[2015-09-12 14:25] PCMan commented on #197
Luckily I've found a workaround.

[2015-09-12 14:26] PCMan commented on #197
The current code in git works again, but I leave the bug open since it's suspected that there's a regression bug in Qt 5.5. After we reported this to the upstream Qt developers, we can close it.

[2015-09-12 15:33] pmattern commented on #197
Workaround is doing its job. At last a reasonable way to access a list of all running applications is available again - so thanks a lot.

Btw. shouldn't this be 5.*5* in the modified title?

[2015-09-12 18:48] bruno50 commented on #208
Hello, thank you for your answer,
my PC : emachines EL 1352 with a SSD (drive(0) and dual boot archlinux with desktop mate and windows10
with mate i have "caja" for file manager but i like pcmanfm.
with caja i have the "safety remove drive" function for my Seagate Expansion Drive (USB drive)
Best regards
Bruno
the result of the command gvfs-mount -l -i
Drive(0): KINGSTON SV300S37A240G
  Type: GPro

[2015-09-12 18:49] bruno50 commented on #208
sorry i have close but i would only do a comment
Bruno

[2015-09-14 11:56] luis-pereira commented on #198
@PCMan `XdgIcon` supports it. Check it [here](https://github.com/lxde/libqtxdg/blob/master/qiconfix/qiconloader.cpp#L390)

[2015-09-16 07:04] nyim opened #231 ""open terminal" work directory is home directory"
1 open fm, navigate to /tmp, / or something else.
2 press F4 / or Tool => open terminal
3 in my terminal, konsole, the current directory is home (~)

version 0.9
kde plasma 5.4.1, konsole-15.08.0

btw: pcmanfm works perfectly,  and the strange things are:
after I install pcmanfm and open terminal in it
then pcmanfm-qt, works.

after I uninstall pcmanfm, then pcmanfm-qt fail to work again

[2015-09-16 07:08] #231 closed

[2015-09-17 19:48] KaMiila commented on #153
Just wanted to give you an update on this.  I have been using these patches for awhile now and I have not seen any bugs or crashes!  Seems this works with dual monitors just fine.  I have decided to use LXQT from now on leaving behind XFCE.  Thanks for those patches as they worked.

[2015-09-25 06:39] ghost opened #235 "Cannot untrash file foo: original path not known"
This message appears when I right click a file in trashcan and select Restore.
I think this happens when I trashed a file via another program.

Debian testing amd64

[2015-09-25 07:48] pmattern commented on #235
How did you install LXQt and which version are you running?

[2015-09-26 14:44] fguzm commented on #235
got it from siduction repository, version 090

[2015-09-26 23:27] pmattern commented on #235
I can confirm your findings on Siduction were they're affecting files moved to trash from within PCManFM-Qt as well, btw., but neither on Arch Linux running all LXQt components from recent VCS checkouts nor on Lubuntu using their LXQt PPA.
So this is a downstream issue and as such nothing that can be dealt with on this tracker. Hence closing.

Nevertheless one of the main downstream developers hap

[2015-09-27 01:05] agaida commented on #194
closing with a commit would satisfy me more :D

[2015-09-27 09:39] pmattern commented on #194
Sure. But it was just the dupe I closed.

[2015-09-27 13:53] #194 closed

[2015-09-28 01:14] agaida commented on #235
we will get current packages in the next few days. until they hit the repo i prefer to say nothing about this issue :)

[2015-09-29 19:25] stefonarch commented on #131
Seems on a good way:
https://github.com/lxde/pcmanfm-qt/pull/229

[2015-09-29 20:14] tsujan commented on #131
Although it's easy to implement a show/hide button for the filterbar at #229, I don't think it's needed because if the user uses it for a while, he'll find it indispensable.
Turning a filterbar into a universal search tool would undermine its usability and PCMan has already added a good search utility.
I agree about a lock button. Maybe later.

[2015-09-30 00:08] hotvic opened #238 "Open directory in external program"
The Pcmanfm has a submenu in the right click menu that lets me open the directory in a external program, easytag for example.

In Pcmanfm-qt this isn't possible AFAIK.

Would be great have this feature in -qt too.

[2015-09-30 23:21] pmattern commented on #238
Seems rather like an inconsistency in terms of context menus of different views and panes respectively:
Feature is available in context menu of "Directory Tree" view's left pane

![pcmanfm-qt_open-directory-in-external-application](https://cloud.githubusercontent.com/assets/9860801/10209310/59b5429e-67da-11e5-84f4-2f67bc220d5b.png)

but lacks both in the context menus of left pane in "Places" view

[2015-10-01 01:55] hotvic commented on #238
I get no context menu in left panel at all.

[2015-10-01 09:46] pmattern commented on #238
So mind posting some information about OS you're running, the way LXQt was installed and version of PCManFM-Qt?
Probably you're still running release 0.9 which doesn't feature some changes in PCManFM-Qt's context menus yet that took place [some months ago](https://github.com/lxde/pcmanfm-qt/issues/163).

[2015-10-03 11:45] hotvic commented on #238
Arch, installed from official repositories.

Yes it was the 0.9, now build from git and menu is there.

[2015-10-08 06:54] KaMiila commented on #153
noticed a few (bugs)?  On dual-head there is a tendency for pcmanfm-qt to open applications on the other monitor.  This is odd behavior since I am using a menu launcher on desktop 0 but it will sometimes open the application on desktop 1.  Same happens with the quick launcher.  Its random and I susspect it does this when it notices there is an open applicaion on desktop 1 but none on desktop 0, so

[2015-10-10 15:19] pmattern commented on #153
Placing new windows is basically the window manager's job. So if unsure you may first want to check which one you're using. This can e. g. be seen in topic "Basic Settings" (left pane) of GUI "LXQt Session Settings", binary `lxqt-config-session`, that can be launched from main menu - Preferences - LXQt settings - Session Settings.
If it's Openbox you can check whether the problem can be fixed by t

[2015-10-12 05:24] vishesh opened #239 "Build instructions in README"
Build instructions should be provided in README. A list of packages required at least, if not exact command for selected distros. On Ubuntu I had to install following -

[code]

I would have created a pull request, but well I wanted to build a list of packages that would be needed in a minimal plausible environment.

[2015-10-12 14:03] sleepy1 commented on #235
this happens to me to, but I'm on bridgelinux  lxde.

[2015-10-12 16:24] agaida commented on #235
linked in directories in home?

[2015-10-13 14:49] farseenabdulsalam commented on #235
I am running archlinux latest version, newly installed yesterday. I have installed pcmanfm , gvfs and udisks2 from the official repo. I'm experiencing the same issue.  And I have heard users of nautilus reporting the same issue in the #archlinux freenode channel. So, the issue seems to be within gvfs.

[2015-10-13 19:59] ArthurBorsboom commented on #140
Issue hasn't occurred anymore.
I am not sure why it disappeared.

[2015-10-13 19:59] #140 closed

[2015-10-13 20:52] pmattern commented on #140
Feel free to reopen if the problem should come up again.

Also, if you should happen to figure out the culprit it would be nice if you dropped a note.

[2015-10-13 23:12] pmattern commented on #235
Unlike two weeks ago recent VCS checkouts of all LXQt components are now affected on up-to-date Arch Linux i686 or x86_64, too. Same thing with LXDE stable release on Arch Linux but still no problems with PCManFM-Qt from PPA ppa:lubuntu-dev/lubuntu-daily on Lubuntu 15.04, neither with KDE Plasma 5 / Dolphin on Arch Linux.
So indeed this may be an issue affecting an upstream component like GVFS its

[2015-10-14 15:00] DrTobe opened #240 "In compact view, pressing the arrow down/up key does not change the column when last/first item of column is selected"
The compact view is a list, it is shown from top to bottom. Different from detailed list view, it does not allow scrolling down when the height is filled with items, but it starts new columns (when the width is filled, it will allow scrolling left/right). So when I select items with the arrow keys, I can go back and forth in the list with the up and down key. When I have reached the last item of a

[2015-10-17 14:04] whitebyte opened #241 "PCManFM-Qt crashes when opening certain directories"
Hi,
i have a directory generated with Doxygen for relatively large project. When I try to open it in PCManFM-Qt it silently closes after a second or two. When launched from terminal it doesn't generate any errors on close. Example directory can be downloaded here: http://rghost.ru/77wpf8Xq2
PCmanFM 0.9.0, openSUSE Tumbleweed

[2015-10-24 21:01] antis81 opened #242 "remove margin in file browser"
Since file search got implemented (finally :+1: :smile:) the file browser is shown with an ugly margin. Could you please remove that?

Screenshot from Lubuntu 15.04 (I'm a lazy upgrader…):
![PCManFM-Qt with ugly margin](https://cloud.githubusercontent.com/assets/440517/10712743/eb1a9df8-7aa2-11e5-94b8-062e332da5ce.png)

[2015-10-24 23:10] #242 closed

[2015-10-24 23:10] paulolieuthier commented on #242
Test it please.

[2015-10-25 22:46] #217 closed

[2015-10-29 18:35] antis81 commented on #242
Sorry, I had to re-setup my whole machine after failed upgrade to Lubuntu 15.10 -> currently back on Lubuntu 14.04.

Hm… this issue is still there, at least in `lubuntu-daily` PPA nothing changed yet.

[2015-10-29 18:47] paulolieuthier commented on #242
The packager will take some time to upgrade, but the issue is fixed. If you want, you can build pcmanfm-qt from source.

[2015-10-30 07:19] palinek commented on #242
@paulolieuthier why didn't you remove gap in the middle?
- before filter patch:

![screenshot](https://cloud.githubusercontent.com/assets/10990929/10840315/616a2d54-7ede-11e5-99d8-f705f6721ccc.png)
- after your patch

![screenshot](https://cloud.githubusercontent.com/assets/10990929/10840359/d1666fc8-7ede-11e5-9c35-de5586119bf5.png)

[2015-10-30 09:23] antis81 commented on #242
@palinek This is separate issue (space has been there for long time now). Anyway, I also wish for a narrow splitter with 1px width. Maybe open new issue?

[2015-10-30 11:11] paulolieuthier commented on #242
@palinek the separator is larger in your screenshot than it is here. It just feels better to me, but feel free to make it thiner.

[2015-10-30 11:16] palinek commented on #242
I don't use pcmanfm so don't care if there is a gap or not. I was just pointing the change before/after.

[2015-10-30 12:05] pmattern commented on #242
Seeing that gap exactly as in palinek's screenshot here (Arch Linux i686 or x86_64 with all LXQt components from latest VCS checkouts), too, and have to agree it looks rather ugly.
So if feasible I'd also vote for reverting it to the status as shown in screenshot "before filter patch".

[2015-10-30 14:40] ghost opened #244 "Not trash function for root"
no move to trah context
no trash icon in panel
(debian testing, amd64)

[2015-10-30 19:06] paulolieuthier commented on #242
Done.

[2015-10-31 08:55] PCMan commented on #241
@whitebyte The file you example.tar.bz2 you provided is already deleted.
Would you please upload it again? Thank you.

[2015-10-31 10:54] agaida opened #245 "please make pcmanfm-qt less verbose"
when started from cli. These debugging messages are annoying and useless for a normal user:
<pre>
~$ pcmanfm-qt

** (pcmanfm-qt:8473): WARNING **: The directory '~/Templates' doesn't exist, ignoring it
isPrimaryInstance
start-loading
finish-loading
start-loading
delete CachedFolderModel
delete FolderModel
finish-loading
start-loading
delete CachedFolderModel
delete FolderModel
finish-loading
start

[2015-10-31 11:24] whitebyte commented on #241
@PCMan https://yadi.sk/d/uhOxFdbpk96rr

[2015-10-31 13:57] PCMan commented on #241
Fixed in https://github.com/lxde/pcmanfm-qt/commit/17971f3d95dcecb4259a3da2b24a210eae37d301 .
Thanks!

[2015-10-31 13:57] #241 closed

[2015-11-01 04:36] #245 closed

[2015-11-01 06:55] jleclanche commented on #239
Packages needed should be in cmakelists.txt if you'd like them for a PR.

[2015-11-01 18:49] tsujan commented on #86
This behavior of closing a dialog after pressing OK can be seen in the new search utility too and I agree that it's an obstacle to usability in some places (but not everywhere). I add it to my TODO list for PR'ing.

[2015-11-01 21:22] limadm opened #247 "Changing display resolution doesn't resize desktop window"
Hello!

I'm using lxqt on virtualbox'ed archlinux for the first time, and I noticed that changing the display resolution doesn't trigger a resize in the pcmanfm-qt desktop window (which is lauched by lxqt-session with `pacman-qt --desktop --profile=lxqt`).
Restarting pcmanfm-qt with `pacman-qt --desktop-off; pacman-qt --desktop --profile=lxqt` fixed the problem. Shouldn't this desktop daemon launc

[2015-11-01 22:21] pmattern commented on #247
First we need to know how LXQt was installed and which version you're hence running.

Next, what way are you trying to change the resolution in the session? Are you by any chance using dialog "Monitor Settings" (binary `lxqt-config-monitor`)?
If so, you may want to hit "Apply" twice (there seems to be an issue in recent VCS code enforcing this). Also, you could try and change resolutions from a Te

[2015-11-03 16:43] AcarBurak commented on #86
Thank you for fixing the second part of the issue.

[2015-11-03 22:49] tsujan commented on #181
There's still no mechanism for remembering that setting in pcmanfm-qt but it should have a temporary effect for the folder it's set in. Definitely a bug to be fixed.

[2015-11-04 05:32] reddevil-vengara opened #250 "COPYING file name changed to LICENSE"
CMakeLists.txt still references the old file name

[2015-11-04 09:52] #250 closed

[2015-11-04 12:53] tsujan commented on #181
Another point: when sorting is case insensitive, Qt sorts files with the same name (ab, Ab) randomly but USUALLY in a case sensitive order. So when you switch to the case sensitive sorting, nothing might happen.

[2015-11-04 20:17] baghira opened #251 "Double selection of files"
Upon clicking on some files, pcmanfm-qt also selects either the file immediately above or below. I suspect the issue appears only with file with longish names (i.e. 50-60 characters).
Moreover the issue disappears once I resize the window (until, that is, the next time I open the folder).
![Sample screenshot](https://cloud.githubusercontent.com/assets/15658924/10950691/4cf99ef4-8339-11e5-93f6-5a6e

[2015-11-04 21:24] tsujan commented on #251
I confirm that -- saw it only recently.

[2015-11-04 22:25] pmattern commented on #251
Probably related to lxde/lxqt#768?

[2015-11-09 14:49] hotvic commented on #238
Any news on the main panel context ?

[2015-11-12 15:59] ghost opened #260 "allow to hide sidebar categorys"
Hi,

It would be nice if I could hide some categorys(eg I don't use gvfs so the devices/network category is always empty)

[2015-11-12 16:27] ghost opened #261 "add missing menu icons"
the file manager would be much better to use if every menuitem would have a menu icon (my freedesktop icon naming suggestions):

FILE:
new tab:  actions/tab-new
create new: actions/list-add
file/folder properities: a settings icon eg actions/document-properties or categories/preferences-settings
close tab:  actions/tab-close
close window: actions/window-close

EDIT:
rename: actions/edit-rename
sel

[2015-11-12 16:30] sixsixfive commented on #261
also the go button in the toolbar should be actions/go-jump;go-jump-rtl according to the naming spec

[2015-11-12 16:40] sixsixfive commented on #98
rethink - custom commands would be nice

[2015-11-12 18:17] tsujan commented on #98
That's already possible: custom actions inside '~/.local/share/file-manager/actions/' can do more than that -- they can include commands or call complex scripts from '~/bin/'. I use lots of them not only under LXQT but previously under Gnome and KDE.
The only problem I've found is in grouping custom actions under a sub-menu. PCManfm-qt doesn't do that correctly yet.

[2015-11-12 18:26] tsujan commented on #260
I agree. It would be nice to have a "Hide this item" on the right-click menu for each item and a "Show hidden items" on the context menu of the sidebar -- similar to what Dolphin has.

[2015-11-17 06:09] PCMan commented on #145
The latest code in git already
1. fix a crash related to this.
2. provide an option to turn off this behavior.
So I'm closing the issue.

[2015-11-17 06:11] PCMan commented on #69
It's fixed in pcmanfm-qt now. This is caused by the change in newer gvfs/gio and the added g_mount_is_shadowed() API.

[2015-11-17 06:11] #69 closed

[2015-11-17 16:07] pmattern commented on #145
I don't like to say but I have to disagree here.

By "turning off" you mean checking "Change folder in the tab..." in Preferences - Volume, right?
But avoiding a problem by avoiding the option that makes it visible isn't a solution.

PCManFM-Qt shouldn't disappear completely due to unounting a single device, IMO. Edited the first comment, maybe the actual problem wasn't clear so far.

(The crash i

[2015-11-17 16:51] PCMan commented on #145
OK, reopen the issue.

[2015-11-24 12:35] tsujan commented on #251
Fixed by  #252.

[2015-11-24 12:35] #251 closed

[2015-11-28 15:55] pmattern opened #273 "inconsistencies in context menus"
There are several inconsistencies / problems in the various context menus the solution of which would improve the UX.

If left pane is set to Directory Tree view context menus of directories comprise an item `Open with ...` that's missing in right pane.
Opening directories in a distinct application may be much less common than with files but use cases where it makes sense exist, see e. g. #238.
So

[2015-11-28 15:56] pmattern commented on #238
If I'm not mistaken this issue boiled down to the feature missing *in right pane* which is addressed in #273 now.
Hence closing. Feel free to add another comment if you feel the need to.

[2015-11-28 15:56] #238 closed

[2015-11-28 15:59] pmattern commented on #129
As of 60568c9 the feature is basically provided. It cannot be invoked from all locations where it makes sense which is addressed in #273.

[2015-11-28 15:59] #129 closed

[2015-11-30 17:31] stefonarch opened #275 ""Icon view" in translation files"
The preferred views to set in preference dialog should be the same as  in "View"-menu:
 compact view, icon view, thumbnail view and  detailed list, but there is a "Compact Icon view"

location filename="../preferencesdialog.cpp" line="191"/
        source Compact Icon View /source

[2015-12-02 12:25] suncore opened #276 "Crash showing desktop, every time. (ERROR:job/fm-dir-list-job.c:218:_new_info_for_native_file: assertion failed: (err != NULL))"
Hi. I have never been able to get pcmanfm-qt to show a desktop in LxQt. It crashes every time like this:

hch@server:~$ pcmanfm-qt  --desktop
** (process:21147): WARNING **: terminal lxsession-default-terminal isn't known, consider report it to LibFM developers
** (process:21147): WARNING **: XDG_TEMPLATES_DIR is set to invalid path, ignoring it
isPrimaryInstance
desktopManager: 1
**
ERROR:job/fm-

[2015-12-03 18:17] luis-pereira commented on #189
Closed by https://github.com/lxde/libfm-qt/commit/e054de93e5f91826604a46cd57a694eba85febb4

[2015-12-03 18:17] #189 closed

[2015-12-03 21:17] hotvic commented on #273
Works here, just like the right panel.

[2015-12-05 22:08] pmattern commented on #273
Weird. Still seeing this here, latest VCS checkouts of all LXQt components on Arch Linux x86_64. Choosing `Open` from the context menu of a directory in Directory Tree view in left pane just doesn't seem to have any effect. Btw. double clicking the same directory behaves like `Open` in the context menus in right pane. The tree of subfolders get expanded which is what I'd consider expected behaviou

[2015-12-07 01:17] hotvic commented on #273
The 'Open' behavior of left panel here is: Loads the directory contents in the right panel, but not expand the tree.
The double click behavior: Loads the directory contents in the right panel and expand the tree.

I don't know if this is a issue or the pcmanfm-way to handle 'Open' action.

[2015-12-07 09:26] pmattern commented on #273
The double click behavior: Loads the directory contents in the right panel and expand the tree.

That's exactly the behaviour I'm seeing, too.
But on the one hand this does mean that the very same item `Open` behaves differently in left pane in Directory Tree view and in right pane. Also, I guess in file managers the most common behaviour is to first select an item and then open its context menu b

[2015-12-10 15:40] hotvic commented on #276
Can you try a git build (pcmanfm-qt and libfm-qt) ? I can't reproduce this here..

[2015-12-10 20:03] pmattern commented on #276
Please name the OS you're running and the way LXQt was installed whenever it's reasonable.

Switch `--desktop` is used to have PCManFM-Qt handle the desktop. `pcmanfm-qt --desktop [...]` is launched as so-called "LXQt Module" by `/etx/xdg/autostart/lxqt-desktop.desktop` during the session initiation. As such it gets re-launched automatically if needed and an invocation like this is hardly ever nee

[2015-12-12 11:43] pmattern commented on #99
Superseded by lxde/lxqt#915 (strictly speaking a duplicate of this one but offering a more extensive discussion).

[2015-12-12 11:43] #99 closed

[2015-12-12 16:44] fenduru opened #284 "Segfault when using `nvidia-libgl`"
When I start my LXQt session, the desktop flashes a few times before displaying the error dialog "Desktop crashed too many times. Its autorestart has been disabled until next login."

Running `pcmanfm-qt` results in a segfault (which explains the desktop crashing)

This seems to only happen when using the `nvidia-libgl` package instead of the `mesa-libgl` (Arch Linux), and could possible be relate

[2015-12-13 19:46] ghost opened #286 "polkit support?"
so I created a policy for pcmanfm (/usr/share/polkit-1/actions/org.lxqt.pkexec.pcmanfm.policy)

[code]

this allows me to launch pcmanfm as root with pkexec from a terminal but it refuses to work if I use it in pcmanfms settings(replacing gksu %s with pkexec %s)

any chance to get this working without gksu/kdesu?

[2015-12-16 14:26] suncore commented on #276
If I print the path (with fprintf to stderr) on line 212 of https://github.com/lxde/libfm/blob/master/src/base/fm-file-info.c I can see that the same path is lstat()-ed twice. When I use the --desktop argument, I can see that the first time that this is done, there are extra garbage characters in the path string. This causes my crash.
Another problem (I think) is that there is an assert on line 21

[2015-12-18 09:20] PCMan commented on #286
Thank you for working on this. I always want to support that but I don't know how to use polkit. It will be cool if you can help.

[2015-12-18 09:30] #273 closed

[2015-12-20 12:40] pmattern commented on #273
Still item `Open` in Directory Tree view doesn't have any effect most of the time and the context menus of directories in Places view are pretty sparse, see last two paragraphs of initial comment.
Do you think these topics aren't worthwhile (if so a little explanatory note would be nice, IMO)? Any other reason for closing?

[2015-12-23 00:20] ms6676749 opened #288 "Kate opens text file as a "new file" upon double click"
Archlinux
PCManFM 0.10.0

`$xdg-open foo` works fine opening up the text file in kate as is.  Other programs open up the text file just fine (right click file > open with >): Libreoffice Writer, Calligra Words, notepad (win).  Using "open with" with kate yielded the same buggy result (blank page, see below).

Observed Behavior (where txt files are associated with kate):
1) Open pcmanfm-qt
2) Go to

[2015-12-23 17:51] pmattern commented on #288
Confirmed as described above.

Same finding with KWrite (for the sake of completeness, not exactly a surprise). Filename gets displayed in document tab of Kate / titlebar of KWrite as usual. Nothing helpful in systemd journal.

Problem is apparently due to Kate / KWrite stating placeholder ("field code") `%U` in the `Exec` line of their desktop entry files `*.desktop`.
It ceases if `%U` gets repla

[2015-12-23 18:30] tsujan commented on #288
I had a similar issue with my Qt text editor and  pcmanfm-qt when file names had special characters in them and, as a workaround, I used `%F` instead of `%U` in the desktop file. I don't think the problem is in Kate or my text editor because both work OK with Dolphin and other file managers I know of when `%U` is used.

GTK-based apps like Firefox use `%u` and have no problem with pcmanfm-qt. The

[2015-12-23 18:34] paulolieuthier commented on #288
@tsujan you are probably right. The GTK-based PCManFM also has this problem.

[2015-12-23 18:38] tsujan commented on #288
So, I was right about libfm but NOT about its Qt-independence being the root ;)

[2015-12-24 05:25] ms6676749 commented on #288
@tsujan Actually, this issue occurred with the following filenames: `1_useful_commands` (a symlink) and `~/Remove.txt`, the latter of which was in my home directory and hardly contained any special characters.  However, I tried what you suggested and it it appears to be a suitable workaround: `right click > Open with > other applications > (find and select kate) > custom command tab > kate %f > ap

[2015-12-24 12:21] tsujan commented on #288
So, the situation may be more complex. There may be a problem in libfm and/or in Qt5. All I know is that `%U` doesn't work OK with special characters -- not even in fm custom actions -- while `%F` and `%f` do.

[2015-12-28 15:34] tsujan commented on #288
This should be related to #155. The vala part of libfm is a mystery to me. Only @PCMan could fix it.

[2016-01-02 15:59] DrTobe opened #290 "Segfault when installing via 'sudo make install'"
I have updated my lxqt code today. Now, libfm-qt and pcmanfm-qt are two seperate projects, so I have built and installed libfm-qt first and then pcmanfm-qt. Trying to start pcmanfm-qt resulted in a segmentation fault.

I have played around a little bit and found out that I can run the binary *pcmanfm-qt/build/pcmanfm/pcmanfm-qt* without a segmentation fault. I can also copy this binary to */usr/lo

[2016-01-03 17:49] pmattern commented on #290
This sounds like some incompatibility between old and new split versions.
Unfortunately you didn't tell which OS you're running and which way PCManFM-Qt and any eventual other LXQt components were installed before. Did you install those earlier versions from your distribution's packages? Would be good if you provided these information.

That said here are some suggestions how you may eventually tr

[2016-01-04 07:49] palinek commented on #290
Does the problem persist between reboots?

Note: the reason for such behaviour can also be the *ld.so* cache and linking **wrong** library in runtime. You can try to run *ldconfig* if it makes any difference.

[2016-01-07 01:12] pmattern commented on #97
Issue was fixed in the wake of lxde/pcmanfm-qt#252.

As discussed in this PR a remnant that may eventually still need to be addressed is a missing means to adjust the distance of objects on the desktop (that is to adjust the grid which is used right now).
But this is already addressed in lxde/lxqt#786.

[2016-01-07 01:35] pmattern commented on #97
Using a grid was introduced *as default behaviour* in lxde/pcmanfm-qt#252 solving several issues like multiple selection by clicking single objects.

So strictly speaking (and unlike I thought when closing) this issue is not fixed yet if aligning to a grid should be *optional*.

On a side note a related finding that eventually still needs to get addressed is a missing means to adjust the distance

[2016-01-07 02:00] tsujan commented on #97
@pmattern
I can't say that unaligned desktop icons are impossible to manage but, their ugliness aside, do they have any advantage?

[2016-01-07 02:07] pmattern commented on #97
@tsujan
I'm not promoting anything here and personally I'd just be fine with a grid always being used.
Rather, I just wanted to briefly mention the impact of lxde/pcmanfm-qt#252 on this issue - and then to explain why closing was eventually premature.

[2016-01-07 02:11] tsujan commented on #97
@pmattern
OK! I just thought there might be an advantage I didn't know of.

[2016-01-09 22:14] DrTobe commented on #290
Okay, I have found the reason but I do not know if it is my fault or a bug: The checksums of the two binaries were different (thanks for that hint) and I just guessed that the line
`-- Removed runtime path from "/usr/local/bin/pcmanfm-qt"`
looks suspicious.

I have found http://stackoverflow.com/questions/3352041/creating-binary-with-cmake-removes-runtime-path and the first (and accepted) answer s

[2016-01-09 22:14] #290 closed

[2016-01-10 18:53] goetzc commented on #288
I can add that:
* kate -b %U  doesn't work (the default).
* kate -b %F  does work.

It seems that pcmanfm-qt appends the `file:` prefix, like file:/home/user/. Sometimes I also see the path /home/user/File:main.txt when opening the embedded terminal in Kate

[2016-01-11 19:36] paulolieuthier commented on #97
I think it's safe to close. At least for me, unaligned icons are messy. Anyway, I think there is a issue with the grid on desktop: the grid does not stretch 100% vertically, and a gap is created in the bottom where you can't drag a icon to. This can be easy tested by using `Xephyr :1 -screen 800x600` to create a screen and then `DISPLAY=:1 pcmanfm-qt --desktop` to test pcmanfm-qt on it.

@tsujan c

[2016-01-11 19:53] tsujan commented on #97
@paulolieuthier
If the gap's height is less than the grid cell height, it's OK. The cell height is a function of font/icon size and the screen height may not be an exact multiple of it. If not, please show a screenshot of the problem!

[2016-01-11 19:56] paulolieuthier commented on #97
That's exactly the case, and I understand my screen's height is not a multiple of the icon height. I just don't think it's OK. IMO, spacing must be added between the icons to remove the gap in the bottom.

[2016-01-11 20:09] tsujan commented on #97
That seems to be a good idea. Since pcmanfm-qt *partly* uses size settings of libfm-qt, I should see if the implementation of this idea is possible without changing the latter. It might be a lot of work but I'll consider it. Thanks for the suggestion!

[2016-01-11 20:11] paulolieuthier commented on #97
Thanks!

[2016-01-12 15:37] tsujan commented on #97
@paulolieuthier
OK, I succeeded in implementing your idea but to see if it's worth a PR (2 PR's, in fact), I should know the approximate value of this integer in your case: `(BOTTOM_GAP_HEIGHT - 12) / ICON_NUMBER_PER_COLUMN` because only if it's greater than 2, an extra vertical spacing will make sense.

Or you could just send a screenshot of your desktop when, at least, its first column is fully

[2016-01-12 16:02] paulolieuthier commented on #97
![screenshot](https://cloud.githubusercontent.com/assets/1238157/12268732/bdaaaebc-b92c-11e5-9be2-aad37a845c3d.jpg)

[2016-01-12 16:28] tsujan commented on #97
Thanks! Most of that gap will be covered -- only the 12-px default plus a few px will remain.

I'll make the PR's after more testing and considering various aspects of the changes, whose byproduct is the possibility of adding settings to pcmanfm-qt for spacing.

[2016-01-12 16:32] paulolieuthier commented on #97
That's great news, thanks again. Just for curiosity, what is the 12px margin for?

[2016-01-12 16:44] tsujan commented on #97
PCMan had considered a 12-px margin for the whole work area `(desktop - panel)` and I kept it.

[2016-01-12 16:45] paulolieuthier commented on #97
:+1:

[2016-01-12 22:05] tsujan commented on #97
@paulolieuthier What do you think about this algorithm:

*"If an extra icon can be added to the bottom by decreasing the vertical cell margin, do so; otherwise try to spread the icons to cover the bottom gap as far as possible!"*

The default cell margin is 3 px (which gives a 6-px spacing). Assuming a minimum of 1 px for the margin and judging by your screenshot, I think you might get 24=6x2x(3-1

[2016-01-13 01:57] paulolieuthier commented on #97
I think this sounds like a good idea. However, if the spacing will become an option in pcmanfm-qt, than we shouldn't change it to fit one more icon. Does it make sense?

In my screenshot, it looks like there is enough space for another icon, doesn't it? It's probably a matter of a few missing pixels for another icon to fit. If we spread the icons, they will probably be way too far. I think the rig

[2016-01-13 02:01] tsujan commented on #97
Exactly! Neither should we spread the icons.

A few hours ago, I tried the above method and got good results. In the image below, the left half shows desktop icons arranged as before, while the right half shows the same icons with the algorithm applied: one row is added at the bottom and there's no large gap anymore.

![comparison](https://cloud.githubusercontent.com/assets/981076/12282839/adefd67

[2016-01-13 02:09] paulolieuthier commented on #97
Good results. I'm looking forward to it.

Just to make it clear: IMO there must never be a gap. The option would be to set the minimum spacing, to avoid getting the icons too close. But I guess this is a matter of taste.

[2016-01-13 02:21] tsujan commented on #97
OK, we'll discuss that when an option is added, perhaps under https://github.com/lxde/lxqt/issues/786 . For now, I try to optimize the code and do more testing.

[2016-01-14 19:33] tsujan commented on #97
@paulolieuthier
Sorry to bother you but, whenever you have time, could you test https://github.com/lxde/pcmanfm-qt/pull/294 (after installing libfm-qt with https://github.com/lxde/libfm-qt/pull/13) and see if the bottom gap is removed for you? There's no haste, of course.

[2016-01-15 00:49] paulolieuthier commented on #97
Sure, I'll have some time tomorrow.

[2016-01-15 11:01] PCMan commented on #197
Well, I know the cause of the problem.
It's not a bug of Qt 5. Instead, it's a change of Qt internal implementation.
Qt now uses xinput2 to handle mouse input events so that's why we never receive XCB_BUTTON_RELEASE events from xcb.
To handle the event, we need to intercept XCB_GE_GENERIC instead, and add specialized handling for xinput2, which is too complicated.
The current workaround works well

[2016-01-15 11:01] #197 closed

[2016-01-15 12:16] paulolieuthier commented on #97
It's much better than in the previous screenshot! Nice work.

![screenshot](https://cloud.githubusercontent.com/assets/1238157/12352858/66df5108-bb68-11e5-92a6-65232230ff9d.png)

Little note: there is still a difference between the gaps in the bottom and top. What do you think about that?

[2016-01-15 14:47] PCMan commented on #197
Related issue.
https://github.com/lxde/lxqt/issues/688

[2016-01-15 15:29] tsujan commented on #97
@paulolieuthier Thank you! I was going to ask you to add a screenshot but you already did :)

Desktop is bounded from below while the icons snap to the grid starting from above. On the other hand, to change the grid (cell) dimensions, we have to change its margins. So, we can change the height or width of all cells only by *even* numbers. Hence a bit of asymmetry is unavoidable. However, now the b

[2016-01-15 15:45] paulolieuthier commented on #97
Great.

[2016-01-16 07:33] PCMan commented on #201
Fixed, finally. :-)
https://github.com/lxde/libfm-qt/commit/374abd283fe131ad2c9f1550fb9355770decc8eb

[2016-01-19 05:28] PCMan commented on #165
fixed.

[2016-01-19 05:28] #165 closed

[2016-01-19 18:01] tsujan commented on #97
Closed by https://github.com/lxde/pcmanfm-qt/pull/294

[2016-01-19 18:01] #97 closed

[2016-01-19 18:03] tsujan commented on #97
The margin option will be discussed at lxde/lxqt#786.

[2016-01-22 04:51] PCMan commented on #204
Done. The default value is changed to lxqt-sudo now in pcmanfm-qt and the default config file shipped with lxqt-common.

[2016-01-22 04:51] #204 closed

[2016-01-23 20:31] pmattern commented on #201
Unfortunately two problems remain which are pretty much impairing the UX, IMO:

Autocompletion doesn't comprise the trailing slash. E. g. filing `/us` + hitting `Tab` yields `/usr` instead of `/usr/`.
This makes paths comprising several levels of directories much more complicated to enter. Also, the list displaying subdirectories of the current one comes up only when the trailing slash is availabl

[2016-01-23 23:03] tsujan opened #297 "(Folder) custom actions are missing in FolderMenu."
As the title says. Right clicking inside a folder but outside any file/folder should show custom actions for directories.

The fix I have is simple but requires duplication of some code blocks. I'll PR it if I don't find another way.

[2016-01-24 07:14] PCMan commented on #201
OK, let's fix it.

[2016-01-24 07:26] PCMan opened #298 "Hack Qt 5 and add workarounds to support Xdnd Direct Save protocol"
Since there's no way to implement XDS protocol in Qt, we probabily need to hack XCB and XDND again to workaround this.
http://www.freedesktop.org/wiki/Specifications/XDS/#index5h2

[2016-01-24 09:22] PCMan opened #299 "Using DND to add bookmarks does not work sometimes."
As title.
Adding bookmarks via DND does not work sometimes.
This needs further checks.

[2016-01-24 09:23] PCMan commented on #297
Thanks! Waiting for your fix. :)

[2016-01-24 09:28] PCMan commented on #131
Well, we already have the filter bar and there's an option to turn if off.

[2016-01-24 09:28] #131 closed

[2016-01-25 14:32] PCMan commented on #298
Done!
https://github.com/lxde/libfm-qt/commit/0691823b2825920778cddc2dab64b2a0ca3d55b7

[2016-01-25 14:32] #298 closed

[2016-01-25 17:57] pmattern commented on #297
@tsujan
Just curious: Could you eventually elaborate a little bit what the actual problem addressed in this issue looks like?
Running lxde/libfm-qt@0691823 I couldn't see any malfunction so far and `inside a folder but outside any file/folder` wasn't clear to me, either.

[2016-01-25 18:09] tsujan commented on #297
It seemed to me that PCMan got what I meant.
If you had custom actions for folders, they wouldn't show up when you right clicked on an empty area inside a folder.

[2016-01-25 18:16] tsujan commented on #297
@pmattern
More explicitly: First create a folder custom action. Then restart PCManFM and right click on an empty area of desktop. Do you see any folder custom action?

[2016-01-25 19:06] pmattern commented on #297
Got it.
I thought "custom" was referring to the individual context menus of different objects like files and directories and wasn't aware of those "custom action" stuff which I haven't used so far.
Thanks for answering.

[2016-01-26 09:28] PCMan opened #301 "DND from mtp:// does not work (regression?)"
DND from mtp:// mounted folders do not work.
DND of local files works, though.

[2016-01-27 09:11] YamashitaRen commented on #288
Wow. Here kate %f works but kwrite %f doesn't work...

[2016-01-27 13:59] MttCastelli opened #302 "pcmanfm-qt require gksu"
Hi,
I'm trying to use an as-pure-as-I-can LXQt desktop and so I removed gksu. If I try 'Tools>Open as root' return this error:

Failed to execute child process "gksu" (No such file or directory)

Shouldn't it uses lxqt-sudo instead?

regards.

[2016-01-27 14:03] pmattern commented on #302
Usage of `lxqt-sudo` was introduced in cdb4718. So updating to a recent checkout should actually solve this issue.
Don't know whether remnants of former configuration can eventually be in the way, so you may eventually have to remove `~/.confgic/pcmanfm-qt` or so.

[2016-01-27 14:10] MttCastelli commented on #302
my packages from here https://launchpad.net/~lubuntu-dev/+archive/ubuntu/lubuntu-daily,
Ubuntu xenial. I removed ~/.config/pcmanfm-qt but the error remain, see the next reboot. Thanks for your answer.

I'm now realizing that lubuntu-dev PPA builders had some problems compiling pcmanfm-qt...

[2016-01-27 14:10] palinek commented on #302
...and it's configurable in Edit -> Preferences -> Advanced -> Switch user command

[2016-01-27 14:12] #302 closed

[2016-01-27 14:14] MttCastelli commented on #302
"lxqt-sudo %s" instead of "gksu %s" works.

Thank you all, @palinek and @pmattern!

[2016-02-02 06:20] PCMan opened #304 "Regression: shadow of desktop items are gone."
This is what the desktop items should look like.
![shadow](https://cloud.githubusercontent.com/assets/46543/12741488/c123e252-c9b7-11e5-885d-935bce3368d2.png)
This is the current appearance.
![no_shadow](https://cloud.githubusercontent.com/assets/46543/12741489/c128b0de-c9b7-11e5-901a-d71cacafe77e.png)
The bug is only triggered on the initial startup of pcmanfm-qt.
After the layout of desktop item

[2016-02-02 09:49] SafaAlfulaij opened #305 "Navigation icons don't get mirrored in RTL layout"
In RTL layouts (such as Arabic), navigation arrows (Go Forward/Back and Go) doesn't get mirrored.
![pcmanfmqticonmirroring](https://cloud.githubusercontent.com/assets/3509617/12745613/45fae0e6-c9ab-11e5-8110-ce1f4dc73911.png)

[2016-02-02 11:27] tsujan commented on #304
Thanks!

in `desktopitemdelegate.cpp` -> `if((opt.state & QStyle::State_Selected) && opt.widget)`, the condition `opt.widget` wasn't there before; instead it was so:
[code]
which wasn't correct either. I guess I'd worked with an older version and then applied the patch to the one with `opt.widget`, without noticing it. I'll make a PR soon.

[2016-02-02 12:28] tsujan commented on #304
@PCMan
I couldn't reproduce the issue here, so I can't know the PR fixes it, but the above-mentioned condition wasn't correct either.

[2016-02-02 14:45] PCMan commented on #304
it works here. If later the bug appears again, I'll call you. lol

[2016-02-07 20:45] goetzc opened #309 "Follow more system settings"
PCManFM-qt should follow more system settings (I'm thinking about the LXQt ones), regarding:
- one or double mouse click
- default terminal

[2016-02-07 21:08] tsujan commented on #309
I don't see this as an issue but a feature. LXQT is supposed to be modular as far as possible. PCManFM's settings are separate from those of LXQT for it to be usable outside LXQT too. The same is true for lximage-qt or any other app that comes under LXQT.

[2016-02-07 21:11] goetzc commented on #309
Yes, sure, when pcmanfm-qt is running and a lxqt session is active, copy/use those settings. If not, the LXQt experience is confusing for the user.

[2016-02-07 21:18] tsujan commented on #309
I agree on this. A similar discussion started about setting wallpapers with lximage-qt under LXQT. The rule you mentioned is quite acceptable -- its implementation is another thing ;)

[2016-02-07 21:27] goetzc opened #310 "Address bar: append "/" after a folder when auto-completing"
This behavior is used by Dolphin and I think it is interesting and quiet useful.
In the address bad, when typing a folder name, and using the arrow to select one from the drop-down list, it would be useful if pcmanfm-qt could append a "/" after the folder name, so that writing the next folder name can be made easier.

[2016-02-07 21:37] pmattern commented on #310
Already addressed in #201, see https://github.com/lxde/pcmanfm-qt/issues/201#issuecomment-174218958.

[2016-02-07 21:37] #310 closed

[2016-02-08 16:17] palinek commented on #309
For singleclick, this should be quite easy: just to check if the `lxqt-qtplugin` is used and if so, don't handle the singleclick style hint by itself and for showing/storing the preference use *lxqt* settings file.

[2016-02-09 00:07] pmattern commented on #309
Selecting FHS objects in a file manager by single click and next applying an action like moving by drag & drop or choosing a topic from a context menu is a pretty common approach. Considering the features to which the single click setting of lxqt-config-input applies it can hence very well make sense to have different settings in lxqt-config-input and PCManFM-Qt.
Thus I for one think the settings

[2016-02-12 14:33] samuelgarcia opened #311 "Add filter bar shortcut"
Thank you for that tools and lxQt.

This file browser could be wonderfull with a filter bar like in dolphin accessible with Ctr+I.

[2016-02-12 14:42] palinek commented on #311
What version of pcmanfm-qt are you talking about?

Filter bar was implemented in 5fd3eb96aba40130bcad50f092fb6d6717402bc2, see below
![screenshot](https://cloud.githubusercontent.com/assets/10990929/13009894/3262fca2-d19f-11e5-9441-aebf769b9033.png)

[2016-02-12 14:53] samuelgarcia commented on #311
oups.
Infinite sorry for disturbing.
So the query is just : could it be possible to add Ctr+I shortcut ?

Thank a lot for LxQt gain. It is wonderfull.

[2016-02-12 15:40] tsujan commented on #311
Ctrl+F seems better.

[2016-02-12 15:44] samuelgarcia commented on #311
You choose.
Note that on dolphin when Ctrl+I : this show the filter bar AND set the focus in it
very very convinient.
Thanks a lot.
BTW what is your icon theme ?

[2016-02-12 15:52] tsujan commented on #311
Yes, it should be focused too. "F" for "Filter", "I" for what?

@palinek could answer that ;)

[2016-02-12 15:57] samuelgarcia commented on #311
In dolphin, I guess,  F is for Find : this open the search bar wich is something more complicated.

[2016-02-12 16:04] palinek commented on #311
Numix Circle

[2016-02-14 16:45] npmiller commented on #311
I think it might make more sense to keep Ctrl + F for the full blown search file dialog currently accessible with F3.

In addition to a classic shortcut (such as Ctrl + I), it would be nice to also have "/" focus the filter bar.

[2016-02-14 17:18] tsujan commented on #311
Usually F11 is used for (un-)full-screening, so Ctrl + F would have no problem.
Ctrl + F should also focus the filterbar and return the focus to the folder-view when hiding it, IMO.

[2016-02-14 17:34] tsujan commented on #311
That's not possible because one may want to write "/" inside the location-bar. After "Ctrl + F" is implemented, you could use it twice to give the focus to the filterbar. Or tab can be used for that purpose.

[2016-02-14 17:45] npmiller commented on #311
I tried adding a "/" shortcut on the mainwindow that focuses the filter bar and it works fine, you can still type an actual "/" in the filter bar and in the url bar. You can try it here:
https://github.com/npmiller/pcmanfm-qt/commit/5d91abab12ae51c1a43b75a5d0a5db713027e17f.

And for Ctrl+F I was thinking about showing this dialog instead:
![spectacle tf2227](https://cloud.githubusercontent.com/ass

[2016-02-14 18:00] pmattern commented on #311
Definitely agree here. Virtually all applications featuring a more sophisticated search tool have it launched by this shortcut.
So I think we should really be consistent with all those other applications as well as Dolphin and use `Ctrl+F` (or maybe `F3` as used right now) → advanced search tool, `Ctrl+I` → filtering.

[2016-02-14 18:15] tsujan commented on #311
@pmattern
If F3 is kept for the search utility, there will be no reason for using Ctrl+I. IMO, F3 is good alongside F4 for the terminal. The search utility and terminal are temporary windows and it's good to call them quickly by pressing only one key. On the other hand, the filterbar can be left visible.

I welcome importing of good features from Dolphin, Nemo or Nautilus (some of my PR's have bee

[2016-02-14 20:50] pmattern commented on #311
This issue boiled down to adding a shortcut to en-/disable the filter bar. Assigning `Ctrl+I` seems like a reasonable choice as e. g. Dolphin is using it, too. Shortcut `Ctrl+F` should not be used for the filter bar as it's used for the more complex search tools normally.
All this is basically independent of the preexisting shortcut to open the search tool of PCManFM-Qt. Eventually changing this s

[2016-02-14 22:57] tsujan commented on #311
There was no conclusion to understand!

All in all, I don't think this difference in opinions is practically so grave that justifies much discussion. As you said, it boiled down to adding of a shortcut to en-/disable the filter bar. I'll wait until the others decide between Ctrl+F and Ctrl+I. Or perhaps someone else will do it before me.

[2016-02-15 08:43] palinek commented on #311
My opinion:
- add Ctrl+F for showing Find/Search dialog (of course the F3 shortcut will remain)
- add Ctrl+I for setting focus to Filter bar

[2016-02-15 13:14] pmattern commented on #311
Hm, while I basically absolutely agree with palinek's last comment this made me notice that there are actually two actions involved: bringing up / hiding the filter bar as a whole, so the action handled by menu View - Filter, and bringing the focus into the filter bar.
This in turn made me wonder whether we should eventually introduce shortcuts for both of them. On the other hand the former is alr

[2016-02-15 13:49] tsujan commented on #311
One shortcut is enough. I already implemented it with Ctrl+I and will make a PR.

I hardly feel so in everyday life, let alone in a computer discussion :) Thanks for your consideration though! Maybe my statements are sometimes too logical but my intention is more efficiency without emotional interference. Sometimes I may even enjoy being contradicted to see what comes out -- but not too much ;)

[2016-02-15 19:11] npmiller commented on #311
What about two modes for the filter bar, always visible and auto-hide. In always visible, the shortcut focuses in the filter bar, and in auto-hide it shows the filter bar and focuses in, the filter bar would then automatically hide if it's empty and looses focus.

I think that would provide the best user experience, and I don't think we would need a shortcut for switching between the two modes of

[2016-02-15 20:10] tsujan commented on #311
IMO, auto-hide would feel jumpy. Two shortcuts for two different tasks don't do any harm.

In #314, I supposed #313 would be merged; otherwise I'd add something like it.

[2016-02-23 23:36] tsujan commented on #304
@PCMan
I can't see how https://github.com/lxde/pcmanfm-qt/pull/306 could have fixed the problem you encountered (although that commit corrected a mistake). Accidentally I succeeded in producing shadowless texts by changing the position of the panel or adding a new one. The shadow returned with layout change, as you had described.

I'll try to find the real cause.

[2016-02-24 02:37] PCMan commented on #304
Yes, the bug happened again later. So it seems to be an accident that the bug disappear previously. I can reproduce it now. So let's reopen the issue.

[2016-02-24 05:45] tsujan commented on #304
@PCMan
I made some tests and found out that the text shadow color is reset to `(0,0,0,0)` when `virtualGeometryChanged()` is emitted. I may be lost but this is my theory:

Before `FolderView::setMargins()` was introduced, nothing happened. But this method calls `setGridSize()`, which causes the items to be laid out again. So, I think that the resetting of shadow has something to do with the duplic

[2016-02-27 14:32] #188 closed

[2016-02-27 18:42] excalibur1234 opened #317 "bug: F2 (rename) option not available when menu bar is hidden"
i have just built the latest pcmanfm-qt-git and found a bug:
after i have hidden the menu bar (with CTRL+M), i cannot rename files anymore by pressing F2.  but i can rename it, when i right click --> rename.
CTRL+B does not work anymore, too.
F3 does not work, too.

it seems that all keyboard shortcuts stop working with a hidden menu bar.
this behavior is clearly a bug.

btw, thanks for this great

[2016-02-27 19:11] tsujan commented on #317
Yes, I wanted to say the same thing at https://github.com/lxde/pcmanfm-qt/pull/308 but it was merged.

@npmiller would you please fix this? Or I could fix it if you want.

[2016-02-27 19:58] npmiller commented on #317
Oh I didn't realize that, that's annoying, the `QAction` don't work if their parent widget is hidden, that's annoying. If you have a quick way to fix it @tsujan go ahead, otherwise I can look into it.

[2016-02-27 20:01] tsujan commented on #317
@npmiller don't worry! It's fixable. I'll do it as soon as I have time.

[2016-02-27 20:02] npmiller commented on #317
Oh I know it's fixable, I'm just not sure what's the best way to fix it right now.

[2016-02-27 20:18] tsujan commented on #317
I was thinking of something as simple as this:
[code]
Here, WIDGET can be the main window and MENU is each of the menus. I don't have time to test this idea right now but if you do, please test it!

[2016-02-27 20:23] npmiller commented on #317
Ah, yes, that works, I'll prepare a pull request, thanks!

[2016-02-27 22:32] goetzc opened #319 "Edit symbolic link pointing location"
An option in the file or folder properties, to allow to 'edit' the symbolic link location would be handy. Just like the ln --force option, `ln -s -f file link`

Screenshot of the implementation in Dolphin:
![pcmanfm-qt dolphin edit symbolic link](https://cloud.githubusercontent.com/assets/2220440/13375800/a84482e0-dd77-11e5-8e59-bed56c1ba94f.png)

[2016-02-28 13:53] MttCastelli commented on #276
`$ pcmanfm-qt

** (process:5277): WARNING **: terminal lxsession-default-terminal isn't known, consider report it to LibFM developers
$`

PPA ppa:lubuntu-dev/lubuntu-daily on Ubuntu xenial, seems the latest update also breaks my desktop.

[2016-02-28 21:04] agaida commented on #276
there is no reason to use the ppa on xenial - please use the packages from the xenial repository

[2016-02-29 05:42] #317 closed

[2016-02-29 05:53] PCMan opened #321 "Version number of libfm-qt CMake config file is incorrect"
Currently, the version set in the cmake config file is 3.0.0.
However, this is the libtool-compatible ABI version info, not API version.
The API version is 0.11.0.

[2016-02-29 05:55] PCMan commented on #321
@luis-pereira Would you please help fix this?
I know it looks weird, but I'm using libtool versioning for the ABI version (soname) here.
https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html
This version number is for ABI compatibility and is not related to API version.
Thank you.

[2016-02-29 11:28] tsujan commented on #304
@PCMan Can you still reproduce this issue after https://github.com/lxde/pcmanfm-qt/pull/303?

[2016-02-29 13:19] PCMan commented on #304
No, it works now. I'm closing the issue.

[2016-02-29 13:19] #304 closed

[2016-02-29 13:20] PCMan commented on #297
Merged.

[2016-02-29 13:20] #297 closed

[2016-02-29 17:31] excalibur1234 commented on #297
if somebody find this thread in the future and wonders what custom actions in pcmanfm-qt are, please look here for examples:
https://wiki.manjaro.org/index.php?title=Custom_Actions_for_PCmanFM-Qt

[2016-03-01 15:44] luis-pereira commented on #321
@PCMan I will try
CMake defines two properties for target: **VERSION** and **SOVERSION**.

On Linux it's mapped, by default, to a file and two symlinks:

libfoo.so.<VERSION>
libfoo.so.<SOVERSION> -> libfoo.so.<VERSION>
libfoo.so -> libfoo.so.<SOVERSION>

[2016-03-07 01:30] goetzc opened #324 "Allow to rename files within the 'Properties' dialog"
This is like issue #319, but for the file name. There is actually an editable text filed, but upon clicking `OK`, the file is not renamed. Not sure if the current behavior it is a bug or a feature, hehe.

![pcmanfm-qt_file_prop](https://cloud.githubusercontent.com/assets/2220440/13558863/f0d51bf6-e3d9-11e5-9406-76c6ac65495e.png)

[2016-03-07 12:33] palinek commented on #324
Duplicate of lxde/lxqt#773... one should be closed.

[2016-03-07 16:02] tsujan commented on #324
I don't want to start a hot discussion about such a small thing here but if this feature is going to be added, it should **NOT** be by changing the lineedit string and then pressing `Enter` or `OK`; a new button will be needed.

If I made that properties dialog, I would use a selectable label instead of the lineedit, regardless of what other DEs do, because the string is info.

[2016-03-09 12:00] AcarBurak opened #325 "Issue with thumbnail and icon views"
This is on an Arch Fluxbox system (not LXQt) with pcmanfm-qt 0.10 and the system qt theme being managed by qt5ct.

I've got a directory containing 1000 light jpg images (thumbnails of my CD covers) and when I launch pcmanfm-qt some items are placed too close to or rather attached to the next item both vertically and horizontally. When clicking on one of them chooses not only the clicked one but th

[2016-03-09 12:33] tsujan commented on #325
This was an old bug fixed months ago. Please update your pcmanfm-qt installation or compile it from the git source! Then, if you still see the same problem, reopen this issue.

[2016-03-09 12:33] #325 closed

[2016-03-09 12:35] AcarBurak commented on #325
All right, sorry for bother; thank you.

[2016-03-10 07:35] excalibur1234 opened #326 "bug: after pcmanfm-qt crashes, some keyboard shortcuts stop working and menubar is visible again"
i have observed this behavior often:

whenever i cut and paste huge files/folders and change something in pcmanfm-qt at the same time (e.g. folder and file names, double click on folders, cut and paste somewhere else at the same time), pcmanfm-qt crashes as soon as cut and paste has finished its job. (maybe this is a separate bug?)

after every crash, pcmanfm-qt resovers again. but now, my menubar

[2016-03-10 07:46] excalibur1234 opened #327 "bug: menubar visible again after reboot"
i usually always try to hide the menubar.
but i have always seen the menubar again after a reboot.

it is possible this bug is related to #326, then there is another bug: pcmanfm-qt crashes after every logoff or before every boot.
if this bug is not related to #326, then this is a separate bug.

[2016-03-10 09:59] pmattern commented on #327
Figuring out whether or not a crash is involved should be rather easy by looking through systemd journal.
E. g. `journalctl -b0` to view the logs since last boot, `journalctl --since='2016-03-10 08:20'` to view since the time stamp stated or `journalctl --follow --full` to watch in real-time, eventually invoked from a virtual terminal to be independent of the LXQt session.

[2016-03-10 14:15] tsujan commented on #326
Oh, the most important part of your report is the crash itself. Could you tell how to reproduce it? Does it always happen with a hidden menubar? And do you have the latest git version?

[2016-03-10 17:33] excalibur1234 commented on #327
thanks for the tips for journalctl. i have saved them.

it looks like pcmanfm-qt does not crash during poweroff or reboot and at boot. i have checked it for lxqt and pcmanfm, but there are no entries for pcmanfm. there are a couple of entries for lxqt (mainly lxqt-connman-applet and lxqt-policykit).

the whole situation is really strange: every time i rebuild lxqt (including pcmanfm) and reboot, e

[2016-03-10 17:46] excalibur1234 commented on #326
i think i compiled the latest git version yesterday or the day before yesterday.
but i can crash pcmanfm relatively easy for a while now (even before the menubar hidden feature was introduced).
i just tested it again: i did not hide my menu bar and i copied a large file and a large folder from one location of my hard drive to another. i did that by opening 2 windows in pcmanfm-qt and copying the f

[2016-03-10 19:49] tsujan commented on #326
Can anyone else reproduce this crash?

@excalibur1234
I tested with a 5-GiB file to have enough time. I renamed other files in the source and destination folders, changed to directories other than the source and destination ones, closed one or both windows, reopened them, and yet no crash happened.

I'll try to find the cause from your journald log but that won't be easy without having a way of re

[2016-03-10 21:25] excalibur1234 commented on #326
i have just tested it again:
pcmanfm-qt crashes, when i copy a large file (in one window of pcmanfm-qt). when the copy process finishes (either regularly or by canceling it) and the pcmanfm-qt window is in a different state than it was during the start of the copy process, pcmanfm-qt crashes.
my desktop background even becomes bright for a second.
all copy and paste commands were issues with mouse

[2016-03-11 20:07] excalibur1234 commented on #326
sorry, but somehow i cannot reproduce the crash anymore.
i do not know why.
as soon as i encounter it the next time (probably after a couple of reboots), i will report back.

[2016-03-11 20:23] tsujan commented on #326
Did you change or update anything related to PCManFM or LXQT?

[2016-03-12 02:39] tsujan commented on #311
Fixed by https://github.com/lxde/pcmanfm-qt/pull/314.

[2016-03-12 02:39] #311 closed

[2016-03-12 02:59] tsujan commented on #160
Fixed by https://github.com/lxde/libfm-qt/pull/11 and an older commit. Reopen it if you still see it with the latest git versions.

[2016-03-12 02:59] #160 closed

[2016-03-15 08:45] nonamethanks opened #328 "Closing property window for folders before indexing finishes causes segfault"
As said in the title.

Steps to reproduce:
1) Right click on and open the property window of a folder containing a large number of files (enough for the program to take more than a single instant to show the total size of it)
2) Before the program finishes indexing, close the property window
3) Once the program finishes indexing (which it'll keep doing even if the property window is closed), it'll

[2016-03-16 08:00] nonamethanks commented on #326
I think I have the same bug. The steps to reproduce it for me are:

1) Open two different folders in two tabs
2) Copy/move a large folder from one to another
3) Close one of the tabs and change the other to another directory unrelated to the previous two involved in the moving/copying

This causes pcmanfm-qt to crash once the copying/moving process is finished or interrupted, every single time.
gd

[2016-03-16 10:49] tsujan commented on #326
@nonamethanks
For the crash to happen, should a folder be copied, in contrast to a file? And do you mean large in size (~ how many MiB?) or in the number of contents (~ how many files?)

As I told above, I couldn't reproduce the crash. @excalibur1234 also told that he couldn't anymore.

(1) @excalibur1234 and @nonamethanks: which distros do you have? What are the versions of gvfs and glib?
(2) @no

[2016-03-16 11:06] nonamethanks commented on #326
I'm running Arch Linux with gvfs 1.26.3-1 and glib2 2.46.2-4.

The folder i'm using to reproduce this bug has ~400 files and is ~20 GB.
I just tried with a large file (5.4 GB) and the result is the same - exact same output from gdb.

Also I'm not running lxqt, just openbox.

[2016-03-16 11:27] tsujan commented on #326
@nonamethanks
Thanks! I'll test on Manjaro too. Yet another question: Were both source and destination on the hard drive or on a mounted external hard, usb flash, etc.?

[2016-03-16 11:32] nonamethanks commented on #326
The folder I reproduced the bug with was local and its destination was on an external HDD, while the single file had both source and destination on the same external HDD.

I just tried copying the same local folder to another destination on the same internal HDD and reproduced the bug again, so it doesn't seem like the bug depends on that.

[2016-03-16 18:25] excalibur1234 commented on #326
i am running manjaro (net install) with lxqt and openbox and gvfs 1.26.3-1 and glib2 2.46.2-4.

i just tested nonamethanks' method for crashing pcmanfm-qt-git with a large file in 2 local folders containing only a few folders and files. it did not crash.

i will test it in the next couple of days and report back, when pcmanfm-qt crashes again.

[2016-03-16 18:35] tsujan commented on #326
Yes, I did the same in Manjaro, with a 2-GiB folder containing 1900 files (`/var/cache/apt/archives` from another partition, where Debian resided) and no crash. Maybe a downstream problem that came into Manjaro from Arch and then was fixed.

[2016-03-19 16:55] RalfJung opened #329 "lxqt-panel menu and PCManFM menu:// are inconsistent"
These two screenshots pretty much say it all:

![screenshot from 2016-03-19 17-47-38](https://cloud.githubusercontent.com/assets/330628/13899968/43399072-edfb-11e5-8657-e125ef676115.png)

SuperMeatBoy is missing in PCManFM.

![screenshot from 2016-03-19 17-48-25](https://cloud.githubusercontent.com/assets/330628/13899970/475c1666-edfb-11e5-98d6-3f41cb66ba6b.png)

A lot of duplicate entries, Thunde

[2016-03-19 20:45] npmiller commented on #328
Can reproduce on the git version, the indexing job should be aborted when the window is closed.

[2016-03-19 21:05] tsujan commented on #328
After several months, yesterday I encountered a crash I couldn't explain but now, I think it was about this issue. I'll look into it.

[2016-03-19 21:17] npmiller commented on #328
@tsujan I've actually just fixed it, it was just about cancelling the job in the destructor

[2016-03-19 21:47] tsujan commented on #328
Great!

The indexing issue you mentioned, made me think that https://github.com/lxde/pcmanfm-qt/issues/326 might have a similar cause. The fact that some can reproduce it and some can't may be related to cache formation. Hence searching for a deeper cause.

[2016-03-19 21:50] tsujan commented on #328
@nonamethanks Could you please test if https://github.com/lxde/libfm-qt/pull/20 fixed this issue?

[2016-03-19 22:08] tsujan commented on #326
@npmiller It seems to me that the destructor of FileOperation suffers from the same issue you fixed in https://github.com/lxde/libfm-qt/pull/20/commits/8dcf29a1c28102d2fb1a3688558f861048196ddb. What do you think?

[2016-03-19 22:19] npmiller commented on #326
Maybe, although in the FileOperation destructor, the jobs are disconnected from the callbacks, so it's not as bad, but maybe they should be cancelled as well.

Given the description there may also be some piece of data that gets used by several FileOperation objects when it really shouldn't, so the second operations would temper with the one running in the background, and obviously that would only

[2016-03-19 22:24] tsujan commented on #326
@npmiller Thanks! Let's think about it for a while! Unfortunately, this issue can't be reproduced easily.

[2016-03-20 04:04] nonamethanks commented on #328
@tsujan  Still crashes. gdb now returns a different error however:
[code]

[2016-03-20 07:56] Ilya87 commented on #328
@nonamethanks Compile please pcmanfm-qt with debugging symbols and run backtrace command after segfault error appears in gdb.

[2016-03-20 08:09] nonamethanks commented on #328
I'm not familiar with cmake, do I have to append the flag "-DCMAKE_BUILD_TYPE=Debug" ?

[2016-03-20 08:13] Ilya87 commented on #328
[code]

[2016-03-20 10:26] HymiR opened #331 "libfm-qt dependency contradiction"
In CMakeLists.txt:
`find_package(fm-qt REQUIRED)`

seems contradictive to the statement in README.md:
`Includes libfm-qt, the Qt port of the libfm - a library providing components to build desktop file managers.`

Seems one of the two is not up-to date, because without satisfying the latter
dependency, build fails as expected...

What's going on here?

[2016-03-20 12:41] tsujan commented on #328
@Ilya87
Could you please test with https://github.com/lxde/libfm-qt/pull/20#issuecomment-198908970 ? Or you could wait until @npmiller changes the commit.

[2016-03-20 14:04] npmiller commented on #331
Good catch, thanks!

Libfm-qt was extracted into its own repository fairly recently, it was previously included in this one, I guess the README wasn't updated to reflect that.

[2016-03-20 15:14] HymiR commented on #331
Ah, thx for the fast reply, shall I close this issue now?

[2016-03-20 15:16] npmiller commented on #331
No, leave it open, we'll close it when the README is updated

[2016-03-20 15:39] pmattern commented on #331
While I agree it's the README which isn't accurate here I think the real missing point is that libfm-qt itself still depends on libfm right now, see `ldd <Path to libfm-qt.so.3.0.0>`, isn't it?

Personally I wonder whether it wouldn't make sense to include the missing pieces of libfm into libfm-qt so as to have a single component only but that's a different story, of course.

[2016-03-20 15:41] Ilya87 commented on #284
1). Mentioned driver bug should be fixed in Nvidia driver version 361.18.
2). This bug appeared at application's exit, not start.
3). LXQt can work without pcmanfm-qt.
4). Paste log please.

[2016-03-20 15:47] Ilya87 commented on #235
Arch Linux x86-64, pcmanfm-qt, libfm, libfm-qt - git versions. No problem.

[2016-03-20 15:59] tsujan commented on #331
libfm is the only component directly based on GLib, so it should be kept separate. I seriously doubt that we could reach the ideal of a unified libfm independent from GLib but ideals are worth considering.

[2016-03-20 16:15] luis-pereira commented on #331
I worked on the split. This is just something left behind.

[2016-03-21 09:23] #331 closed

[2016-03-21 10:36] #328 closed

[2016-03-28 09:27] #324 closed

[2016-04-04 00:46] goetzc opened #334 "Allow to choose side icons size with context menu too"
Right now it is possible to choose the side panel icon size from within a submenu in preferences, but it is not so intuitive as directly right-clicking an icon in side panel and choosing one of the available icon sizes.

An example:
![panel icon size in context menu](https://cloud.githubusercontent.com/assets/2220440/14236026/bc111748-f9d3-11e5-8900-7683fc3cfbfc.png)

[2016-04-04 08:18] tsujan commented on #334
IMO, it isn't so intuitive but only what Dolphin does and so, a matter of taste.

[2016-04-04 12:02] pmattern commented on #334
I agree with @tsujan that this is a matter of taste and that configuring the icon size from FHS objects' context menus doesn't make really sense.
IMO it's a feature that's not needed to frequently and as such rather bloating the context menus.

But nevertheless I think the handling of icons does need improvement.
The purpose of the groups defined in Preferences isn't remotely obvious. E. g. the "b

[2016-04-04 13:34] tsujan commented on #334
I agree. Since desktop has a separate font size, it's logical to give it a separate icon size too. I'll see whether that can be done without bloating the code.

[2016-04-06 14:35] pmattern opened #336 "Removal of FHS objects is faulty in Directory Tree view"
Key `Del` is dysfunctional in left pane.
It doesn't matter whether or not Preferences - Behaviour - "Move deleted files to trash bin instead of erasing from disk." is checked.
Enforcing a deletion independent of that setting by hitting `Shift`+`Del` doesn't work either.
The usual confirmation dialogues corresponding to settings "Confirm before deleting files" and "Confirm before moving files into

[2016-04-06 14:44] pmattern opened #337 "Main Toolbar: approaches to toggle display should be improved"
An item to toggle the display of "Main Toolbar" is missing in menu "View" and should be added, similar to the ones of the menu and filter bar at the menu's bottom.

The current handling to toggle the display of "Main Toolbar" seems questionable.
If I'm not mistaken the only way is from a context menu that can be opened over the menu bar (!) only and comprises that single topic only which is a bit

[2016-04-06 15:43] tsujan commented on #337
It's not in the code but added by Qt to every toolbar.

[2016-04-07 12:00] wmra opened #338 "no search results with CTRL+Shift+F"
I don't get any search results.
files are there - I find them with shell search

Lubuntu with PCManFM 1.2.3

[2016-04-07 12:52] pmattern commented on #338
This tracker is dealing with PCManFM-*Qt*, the counterpart of LXDE's PCManFM written in Qt and belonging to [LXQt](http://lxqt.org).
Regarding it's GTK counterpart you may want to have a look at https://sourceforge.net/projects/pcmanfm.

[2016-04-07 12:52] #338 closed

[2016-04-07 15:51] pmattern commented on #334
When the same shortcut gets assigned to several actions `lxqt-config-globalkeyshortcuts` prints one of the shortcuts in bold but doesn't really throw a warning.
This should eventually be changed, too.

[2016-04-09 21:58] npmiller commented on #337
As @tsujan said the menu, and the possibility of hiding the main toolbar actually comes from the way Qt deals with toolbars, I don't think it was purposefully put in there. I also can't think of a good use case for hiding the main toolbar, it seems particularly inconvenient and confusing.

So instead of improving this feature I'd rather just remove it altogether, what do you guys think?

[2016-04-09 22:07] tsujan commented on #337
me neither.

I agree, although, IMO, it's just a harmless little menu that can be left as it is.

[2016-04-11 14:04] tsujan commented on #334
Apparently, we agree that menus shouldn't be cluttered, on the one hand, and @pmattern's suggestion is implemented by https://github.com/lxde/pcmanfm-qt/pull/335, on the hand. So, this issue can be closed.

[2016-04-11 14:04] #334 closed

[2016-04-11 16:03] pmattern commented on #337
While I'll personally hardly ever hide the toolbar PCManFM (GTK flavour) does allow for hiding as well, albeit from its Menu "View" only. Qt web browsers Otter Browser and QupZilla allow for toggling the display of their counterpart, too, both from their menu "View" and a context menu of the menu bar which is a bit more sophisticated in these browsers.
Maybe omitting the toolbar on not so large di

[2016-04-11 16:17] tsujan commented on #337
That context menu is shared between their toolbar and menubar; right clicking on an empty space on the toolbar is just a little harder.

Web browsers usually have multiple toolbars, hence it makes sense for them to have a context menu for hiding some of them. But who wants to hide PCManFM's toolbar with its location bar?

[2016-04-12 17:55] pmattern commented on #334
Now that the size of desktop icons can be set from `pcmanfm-qt --desktop-pref=general` I cannot see an effect of "Size of big icons" in Preferences - Display any longer.
If so, shouldn't this setting be dropped? Otherwise, can anyone give me a hint which icons this setting is still referring to?

Wouldn't it eventually be good if the desktop icons' size could be tweaked from a new topic in Prefere

[2016-04-12 18:10] tsujan commented on #334
@pmattern
"Size of big icons" and "Size of thumbnails" are for the icon view and thumbnail view of PCManFM, respectively. The latter is for those who prefer very big icons. None of them is for desktop, of course.

[2016-04-12 18:29] pmattern commented on #334
@tsujan
Confirmed. Thanks.

And how about the proposal to explain the effect of those various settings "Size of [...]" e. g. in a tooltip? I still think their meaning is all but obvious.

[2016-04-12 18:39] tsujan commented on #334
@pmattern
Yes, good idea! All elements of a config GUI should have informative tooltips. If nobody skilled at giving concise descriptions is going to add them, I will.

[2016-04-13 11:40] tsujan commented on #334
@pmattern
I think https://github.com/lxde/pcmanfm-qt/pull/339 is enough -- the purpose of other elements can be easily understood from their texts.

[2016-04-15 13:37] excalibur1234 commented on #326
since i created this issue, i have switched from openbox to kwin and from proprietary nvidia driver to free mouveau driver. i have also built all git components of lxqt multiple times now.

i do not have a problem anymore with pcmanfm-qt crashing. it is quite stable.

i still have problems with keyboard shortcuts: some keyboard shortcuts work (e.g. CTRL + M, ALT + F2, CTRL + A, F2), some only do n

[2016-04-16 14:30] sammoth opened #340 "Allow shell patterns to be set as filter text"
In both gtk versions of pcmanfm, the filter feature supports shell patterns such as *.[^txt] to hide all text files, etc. In pcmanfm-qt the filter is a simple string match and is less useful. Would it be possible to support this feature?

[2016-04-16 14:52] tsujan commented on #340
It's possible but not desirable. The purpose of filterbar is easily and quickly filtering actual filenames, regardless of capital or small letters. For other purposes, the search utility can be used, which supports regexp, among other advanced options.

[2016-04-16 15:29] tsujan commented on #340
Oh, I found a problem in the search utility: In regexp, the string that filters *out* `.txt` files is `(?!.txt)` but it doesn't work -- while `(?=.txt)` works for *showing* `.txt` files.

[2016-04-18 14:36] tsujan opened #342 "Per-Folder Item Sorting"
Currently, the item sorting is global in the main window of PCManFM, i.e. if the sorting is changed for one folder, it'll apply to other folders too (the desktop, _as a place that includes panel and wallpaper_ but not as a folder, is an exception). Although such an arrangement may seem good to some users (including me), others may prefer a "per-folder" sorting (https://github.com/lxde/pcmanfm-qt/p

[2016-04-18 23:31] tsujan commented on #342
My preliminary idea of a per-folder sorting:

(1) A check box is added to the end of the Sorting sub-menu (of the folder's context menu) after a separator with the text, "Preserve sorting for this folder";

(2) Once the box is checked, the sorting will be saved for that folder, such that it won't be changed if the the global sorting is changed (in the context menu of another folder);

(3) If the b

[2016-04-19 06:46] palinek commented on #342
Sounds reasonably. But it realy depends on the actual presentation... can you paste some (may be a fake) screenshot? (one picture could be better than 100 words)

[2016-04-19 11:20] tsujan commented on #342
@palinek Thanks! A screenshot:

![2016-04-19-15 45 40-scrot](https://cloud.githubusercontent.com/assets/981076/14637389/308ddfce-0646-11e6-8823-2af0aaa0f9cd.png)

[2016-04-19 11:23] palinek commented on #342
Seems intuitive for me. Just one note: the view mode (icon, thumbnail...) will not be configurable per folder?

[2016-04-19 11:46] tsujan commented on #342
Good point! Then the four view menu-items could be put into a separate sub-menu with a similar check box ("Preserve view for this folder").

On the coding level, I'm thinking about a separate and single settings file containing the required info on such folders, but I haven't decided on its structure (grouping) yet. @palinek What do you think?

[2016-04-19 12:44] tsujan commented on #342
This setting structure came to me:
[code]
(1) When the sorting or view mode is preserved, the group is created or, if it already exists, the folder path is added to it.
(2) When only the sorting is preserved, the Mode key has an empty value.
(3) When only the view mode is preserved, the sorting keys have empty values.
(4) When nothing is preserved, the folder path is removed from the Path key or t

[2016-04-19 14:38] palinek commented on #342
Aren't you going to use the [@PCMan's suggestion](https://github.com/lxde/libfm/blob/master/src/base/fm-folder-config.h)?

[2016-04-19 14:44] tsujan commented on #342
First I try to use Qt-only methods. If affordable, I'll go with them; if not, I'll follow @PCMan's suggestion.

[2016-04-19 17:43] tsujan commented on #342
As the first step, I implemented the per-folder sorting for the View menu (and not context menu) in https://github.com/lxde/pcmanfm-qt/tree/preserve_setting. The code isn't polished at all -- I just wanted to see if it works -- and uses the function `fm_path_hash()`, which hopefully will do the job.

The reason why I insist on not using total per-folder settings is that my goal is separate setting

[2016-04-19 23:11] sammoth commented on #340
Thanks but that doesn't seem as useful. Before you could set a shell pattern filter and navigate through directories with a filtered view onto them that was maintained until you elected to change it. This is no longer possible using the filter bar or the search feature because the filter is not kept when changing directory and it does not support patterns.

[2016-04-19 23:28] tsujan commented on #340
The usage you first wanted was filtering `.txt` files and, as I explained, it's possible with the search utility. What you say *now* is about another usage.

This is about two separate feature requests: (1) locking the filter string; and (2) shell pattern in the filter bar. IMO, the former could be a good feature but the latter would be a duplication, considering the fact that what you want is *to

[2016-04-21 18:51] excalibur1234 commented on #327
this issue seems resolved.
the menubar stays hidden now even after a reboot.

[2016-04-21 18:51] #327 closed

[2016-04-22 17:06] Atalanttore opened #344 "PCManFM-qt complains about existing file/directory when filename contains '|'"
Hi,

PCManFM-qt (master) reports an existing file/directory when copying a file or directory with '**|**' in filename to an external drive (e.g. USB stick). That's at least a wrong error message, because the external drive is empty.

Regards,
Ettore

[2016-04-22 17:30] Atalanttore opened #345 "Unify and enhance file operation dialogs for copy and move"
Hi,

up to now the dialogs for copying or moving files are different and lack of some useful details.

Unlike the copy dialog, the move dialog contains a **button for pausing** the file operation. Another useful detail would be the
- **path of the target directory**
- **remaining elements and bytes**
- **speed rate**

Copy dialog:
![pcmanfm-qt_copy_operation](https://cloud.githubusercontent.com/as

[2016-04-24 09:52] sl1pkn07 opened #346 "wallpaper not fit into a 4k panel (non-hdpi)"
when set the wallpaper into a 4k panel (non-hdpi) , this is the result:

![](http://wstaw.org/m/2016/04/24/Screenshot_20160424_114654.png)

testing with all options. no sucess, like center image:

![](http://wstaw.org/m/2016/04/24/Screenshot_20160424_114946.png)

Uising pcmanfm-qt 0.10.0 on archlinux and Qt5 5.6.0

[2016-04-24 21:17] sixsixfive opened #347 "Sort symlinks by their origin"
a comparision of pcman(right) and thunar(left). All red remove icons point to the same file :

Pcmanfm(both qt and gtk versions) sorts all files by size, thunar does this much better since it will firstly sort them by their link target.

![bildschirmfoto7](https://cloud.githubusercontent.com/assets/3780774/14770471/9de3e200-0a72-11e6-996b-51a0a21b6792.png)

[2016-04-24 21:50] tsujan commented on #347
What do you mean by that? PCManFM sorts files according to what its user chooses: name, modification time or size.

[2016-04-24 21:57] sixsixfive commented on #347
it does it by size, however it ignores the link target(if the files are symlinks) eg: look at the pcmanfm screenshot the remove symlinks/icons are mixed with other symlinks that have the same size, thunar on the other side sorts them all togehter which gives a nice overview

[2016-04-24 22:08] tsujan commented on #347
Do you mean *if* you choose sorting by size, *then* all symlinks come first? And do you propose, *in the case of sorting by size*, they should be sorted according the sizes of their targets?

[2016-04-24 22:50] sixsixfive commented on #347
sorting by size, then all symlinks come first

no.

I mean there should be a second filter applied that displays/places all symlinks(that point to the same file -since they have all the same size) together.

maybe this screenshot in thunars detail mode shows it more:

![bildschirmfoto8](https://cloud.githubusercontent.com/assets/3780774/14771029/1b7d0b04-0a7f-11e6-8ada-a0fb5ffd6bb8.png)

 files ar

[2016-04-24 23:01] tsujan commented on #347
Sometimes it's hard to get what you mean, even with screenshots ;)

This is my last guess, until you (or someone else) find a clearer way of telling what you mean: If the user chooses sorting by size, then all symlinks should come first but they should be ordered according to the sizes of their targets.

[2016-04-25 06:50] palinek commented on #347
I think @sixsixfive wants the size sorting like (pseudocode):
[code]

@tsujan does this make sense to you?

[2016-04-25 10:11] tsujan commented on #347
If so, that was why I didn't understand it because it doesn't make sense to me.

However, IMO, https://github.com/lxde/pcmanfm-qt/issues/347#issuecomment-214059199 makes sense. @palinek What do you think?

[2016-04-25 10:33] palinek commented on #347
All said here is IMO way too specific. And I would say that only a general sorting should be done. What I think (based on the (detail) screenshot) thunar does is "sorting by size (in case of symlink, the size of target is used) and filename"

[2016-04-25 11:01] tsujan commented on #347
I agree. I should see how PCManFM sorts symlinks. IMO, in the case of sorting by name, their own names should be used and, in the case of sorting by size, the sizes of their targets. The latter will also give @sixsixfive what he wants.

@palinek BTW, for some reason unknown to me, I understand your words better. Would you please tell me whether I've correctly understood what is discussed at https:

[2016-04-25 11:52] Vladimir-csp commented on #347
It could be generalized as 'follow symlinks' sorting option. If enabled, target file's stats would be used for sorting (whether it is size, mtime or type), if not - only ink's itself. @sixsixfive, what do you think?

[2016-04-26 06:32] sixsixfive commented on #347
It would be Ok, but why an extra option for this? I think the best would be to make this the default behaivor(like it is in thunar, caja, nautilus, konqueror & dolphin)

[2016-04-29 13:32] stefonarch commented on #201
To fix before the release? It's quite annoying.

[2016-04-30 03:23] PCMan commented on #201
@tsujan Would you please help this part? Don't really have the time ATM. :-(

[2016-05-01 07:31] stefonarch opened #348 "Adding menu entry for direct access to search"
What about a .desktop file nel menu for opening the search menu usually opened by F3?
Tested and working:

[Desktop Entry]
Type=Application
Name=File search
GenericName=File search
Comment=Search for files and content
Exec=pcmanfm-qt %U -f
MimeType=inode/directory;
Icon=search
Categories=FileManager;Utility;Core;Qt;
StartupNotify=true

[2016-05-01 10:59] tsujan commented on #348
`F3` adds the current directory for search. Moreover, the search dialog is integrated into file manager and is closed after search.

[2016-05-02 17:32] #275 closed

[2016-05-12 01:35] tsujan opened #351 "DND is disabled after Changing View Mode"
When the view mode is changed in a tab from the View menu, DND becomes disabled for that tab.

@pmattern, can you confirm this issue?

[2016-05-19 22:43] #351 closed

[2016-05-24 06:09] r-a-v-a-s opened #354 "Find Files "The specified location is not supported.""
No matter what I add as the "Place to search" when I try to run the search it says:

Version 0.10.0

OpenSUSE Tumbleweed

[2016-05-26 17:11] pmattern commented on #354
I can confirm the problem running PCManFM-Qt from repo `X11:LXQt` on openSUSE Leap 42.1. But it ceases when [PCManFM-Qt 0.10.0](https://github.com/lxde/pcmanfm-qt/releases) gets compiled on the same system using all dependencies as provided by the distribution. Also, the problem cannot be seen running PCManFM-Qt 0.10.0 on Arch Linux or Fedora where the version of Arch Linux was definitely not patc

[2016-05-26 17:11] #354 closed

[2016-05-26 23:00] jubalh commented on #354
Will take a look at it soon.
Not sure what "cornelisbb" comment has to do with it though, as it was about OBS settings and not about packaging.

[2016-05-28 22:22] r-a-v-a-s commented on #354
I just built from source and it works.

[2016-05-29 01:25] jubalh commented on #354
I have an older Laptop where installed Leap quite some time ago. I tested it there, and have the same error like you have. Even after doing a full distribution upgrade. I will have to investigate here a bit.

[2016-05-29 02:23] r-a-v-a-s commented on #354
Here is everything I installed today for lxqt: http://pastebin.com/r9wyfP1z

[2016-05-29 04:38] r-a-v-a-s commented on #354
Note that the installed version also works now.

[2016-05-29 06:06] r-a-v-a-s opened #356 "changes are seemingly not applied when using Qt Creator"
If I change all `show()` to `showMaximized()` in `application.cpp` in Qt Creator,
it will see the file has changed and rebuild it before running.
Yet when the app loads nothing has changed.
No windows will ever be shown maximized.
The executable's path is:
`/home/username/repositories/build-pcmanfm-qt-Desktop-Default/pcmanfm/pcmanfm-qt`

If I do everything the same with qTerminal's `main.cpp` it w

[2016-05-29 11:07] palinek commented on #356
Sorry, but what is this issue abiut? You are changing the source code of application and your changes don't bring expected behaviour?
IMO this definitely isn't an issue. You need to invetigate/debug/test...normal development cycle.

[2016-05-29 14:22] luis-pereira commented on #356
I really also don't understand what's the point here.

[2016-05-29 15:11] agaida commented on #356
@r-a-v-a-s - in such cases it might be better to visit us in freenode #lxde

[2016-05-29 15:11] #356 closed

[2016-05-29 17:15] r-a-v-a-s commented on #356
Usually I wouldn't have posted this as an issue; but this project doesn't have a forum I can find.
Is it acceptable to use the LXDE forum for lxqt questions? I don't use chatrooms.

However, if this isn't a problem on my end, it is most definitely an issue.
Did anyone try my simple test?

It doesn't seem to matter what I change in the code, it is not reflected in the program.

I spent most of my d

[2016-05-29 18:02] agaida commented on #356
i guess that a normal user use the package manager of choice to install lxqt packages. And i guess this is the supported way for distributions. Hmm - anyway,  in case i want distribution like packages i would take their packages and update the code - and build these packages with the distribution tools. And if i would need help doing so i would try to reach the package maintainer of the distributi

[2016-05-29 18:39] r-a-v-a-s commented on #356
I'm not a normal user; I'm a potential contributor.

[2016-05-30 02:21] paulolieuthier commented on #356
@r-a-v-a-s I think the problem is that pcmanfm-qt is running in the background, for the desktop. You have to kill it before running it again.

Welcome!

[2016-05-30 04:00] r-a-v-a-s commented on #356
Thank you :-]

You were right about it being in the background;
although, I think I misunderstood most of the code I changed. :astonished:

I just found the correct `show()` in `launcher.cpp`.

:v:

[2016-05-30 04:19] r-a-v-a-s opened #357 "remember window size and position, or start maximized"
I've setup other programs to remember the window size and position,
with an option to start maximized instead.
I can do the work for this program.

[2016-05-30 04:24] r-a-v-a-s commented on #357
Actually it looks like the code exists:

launcher.cpp
[code]

[2016-05-30 04:27] r-a-v-a-s commented on #357
It never starts maximized for me, and the size is always the same.

[2016-05-30 04:38] r-a-v-a-s commented on #357
Sigh... it's somehow not remembered when launching from Qt Creator.
Launching directly from the executable will remember.

[2016-05-30 04:50] r-a-v-a-s commented on #357
Hm... actually... LOL...
I launched it from within an already running instance....
If I launch the executable from konqueror, then the the window state is not remembered.
It seems to only be applied to secondary windows.
Can anyone confirm that?

[2016-06-01 18:29] DimStar77 commented on #354
The interesting package that is missing is "libfm" - and in there specifically the module called vfs_search - which makes search capability work for stuff relying on this library.

[2016-06-01 18:32] agaida commented on #354
@DimStar77 - you are right, libfm is a runtime dependency - packagers should mention it - people who build the packages themself should know that :D

[2016-06-01 18:45] DimStar77 commented on #354
@agaida - in openSUSE, the library (libfm.so.4) is represented as a dependency in the package, but not the various libfm modules - which is what leads to the error described here... I trust @jubalh will be fixing this up soon

[2016-06-01 19:05] agaida commented on #354
@DimStar77 - right, we had this packaging bug in debian too (missed modules i guess) - or i encountered before in siduction, but i'm pretty sure, that i was hit by this too

[2016-06-02 07:16] jubalh commented on #354
@r-a-v-a-s thanks for bringing this to our attention
@DimStar77 thanks for fixing it :)

[2016-06-03 18:49] fiszts opened #358 "Separate the pcmanfm-qt for lxqt-desktop and qt-pcmanfm"
What about to separate the qt-pcmanfm for a different processes, like xfdesktop as desktop manager in XFCE and thunar as file manager for those who want to use different file/desktop managers, such as openbox/qtfm/thunar/dolphin etc.

[2016-06-03 19:16] palinek commented on #358
I don't get this. pcmanfm-qt is completely independent of all other lxqt components. You may use any  other file manager if you wish.

[2016-06-03 19:27] fiszts commented on #358
pcmanfm-qt includes the file manager and desktop manager, it's combined in one process, if you gonna switch to a different file manager pcmanfm-qt will still provide file manager and desktop manager.

[2016-06-03 19:29] agaida commented on #358
and the problem is exactly what?

[2016-06-03 19:35] fiszts commented on #358
Separate desktop manager from file manager!
Desktop for desktop manager and qt-pcmanfm for default file manager, as I wrote for example in XFCE: xfdesktop is handling wallpaper changing, arranging icons (computer, home, trash etc.), gvfs (usb sticks mounting, remote filesystems mounting).

[2016-06-03 19:43] tsujan commented on #358
@fiszts
That seems reasonable to me. However, it may be as hard to implement as it's easy to say. I'll think about it but will give no priority to it.

[2016-06-03 19:55] agaida commented on #358
To be true - i don't see a real benefit, it's not unusual that the file manager paint the desktop - nautilus does this too.

[2016-06-03 19:58] tsujan commented on #358
@fiszts This isn't the first time that a file-manager is a desktop manager too. See Nemo!

@agaida We should see if there's any practical advantage to separate them from each other. Nothing comes to mind for now; so, I agree with you. But the idea was interesting.

[2016-06-03 20:05] agaida commented on #358
@tsujan - if it make a real difference or give a real advantage - i'm all for it, but right now i see no benefit.

[2016-06-03 20:09] fiszts commented on #358
Well, as LXQT About says: "A lightweight, modular..."
Yes, it's lightweight for sure! That's the reason why I'm added this issue, I'm planning to switch on LXQT, but is it really "modular" if the file manager are "stucked" in desktop manager, what if somebody's just want it to complitely remove or use for example an Openbox context menu and only terminal without file manager at all?!

[2016-06-03 20:13] palinek commented on #358
He/she surely can...i'm an example of such user :smile: What problem do you have with disabling the pcmanfm-qt as desktop painter?

[2016-06-03 20:14] agaida commented on #358
In debian it is easy - apt purge pcmanfm-qt - so i dont get the point right now. In the beginning of LXQt I'm used to use the LXDE file manager (pcmanfm) to paint the desktop and pcmanfm-qt for file management. So i really don't get it.

[2016-06-03 20:30] fiszts commented on #358
Ok, my last attempt, I just googled and found guy "geekless", but it's for LXDE (git: https://github.com/geekless/stuurman-desktop).
So that's exactly what I'm talking about, He's just ripped desktop manager from pcmanfm! Anyway it will be nice for me if you're gonna make similar for LXQT.
Peace! :smile:

[2016-06-03 20:39] agaida commented on #358
ah, a very nice (and dead) example of bike shedding

[2016-06-03 20:41] tsujan commented on #358
I mostly agree with @agaida and @palinek.

The reason I tagged this with the "later" label was that, even with the current source, the codes for desktop and folder-view are somehow separate from each other because they serve two different purposes. Hence, I consider the idea reasonable. However, being just reasonable is not enough, IMO.

@fiszts
pcmanfm-qt is already lightweight. Separating its de

[2016-06-03 20:47] agaida commented on #358
The situation right now:
  5128 -rwxr-xr-x 1 root root 451K Mai 21 14:42 /usr/bin/pcmanfm-qt
393358 -rw-r--r-- 1 root root 635K Mai 29 02:29 /usr/lib/x86_64-linux-gnu/libfm-qt.so.3.0.0

if we rip out the desktop painting thing i guess we have two binaries wie 430 k and the lib - so it really make sense :)

[2016-06-03 20:50] fiszts commented on #358
Moreover it is easier to customize/edit/recompile 2 different parts.
And the fact that this discussion continues means something :smile:

[2016-06-03 22:12] pmattern commented on #358
I'm under the impression you missed the crucial point here.
The desktop is not handled by PCManFM-Qt per se but by a dedicated instance which is launched with switch `--desktop`, see `man 1 pcmanfm-qt`. This instance can run in parallel with all kinds of other file managers but launching this instance is in no way obligatory.
This means you are really free to choose by now already. PCManFM-Qt can

[2016-06-04 18:58] npmiller commented on #142
This is easy to implement but unfortunately it requires a change in the `libfm-qt` API as we are relying on the `libfm-qt` function `createFileOrFolder` which doesn't give any information back to the caller about the file it created, ideally it should return a boolean to indicate if the creation was successful and pass back to the caller the file name.

[2016-06-04 19:15] r-a-v-a-s commented on #299
It never works for me. Is there a case where it consistently works?

[2016-06-04 19:48] tsujan commented on #142
My rejected PR, https://github.com/lxde/pcmanfm-qt/pull/223, does it and more. I use it since then without any problem. Now, it consists of two patches, one for libfm-qt and the other for pcmanfm-qt.

[2016-06-05 17:02] pmattern commented on #299
It seems drag & drop to topic "Bookmarks" in the left pane in "Places" view is only working when at least one bookmark is already preexisting.

(In addition some fiddling may be needed in order to get the item to be added into the right position which seems to be depicted by a horizontal line:)
![pcmanfm-qt_bookmarks-vs-dnd](https://cloud.githubusercontent.com/assets/9860801/15806947/ddd23300-2b4f

[2016-06-05 17:06] r-a-v-a-s commented on #299
Ah yes... It requires very precise placement for the single line to appear.

[2016-06-05 17:14] r-a-v-a-s commented on #299
Is a file or folder supposed to be transferred to the bookmark when it is framed?
Nothing seems to happen.

[2016-06-05 17:22] r-a-v-a-s commented on #357
A possible explanation is that
when you close the app after launching it from Creator
the background process does not exist.

When I use the installed version (downloaded with zypper)
the process will exist after closing,
and the dimensions will be remembered.

I'll reopen this because it looks like the position is never remembered.

[2016-06-05 22:15] pmattern commented on #354
And what exactly do you think is fixed?
I'm still seeing the problem here on Tumbleweed running PCManFM-Qt from its main repository (main repo of Leap 42.1 provides 0.9 which doesn't feature the search yet) as well as on Tumbleweed and Leap 42.1 running PCManFM-Qt from repository `X11:LXQt` installed like this
[code]
If this shouldn't be the right way to install please let me know.

But maybe we s

[2016-06-06 06:27] DimStar77 commented on #354
Of course it works after you build it locally, because, in otder to do so, you install libfm-devel, which in turn pulls in libfm...

in fact, you'd not even have to build it locally - once you have all the deve installed, reboot your system and guess what: it will be working already.

Loading repository data...
Reading installed packages...
Resolving package dependencies...

The following 8 NEW pa

[2016-06-06 12:29] pmattern commented on #354
Installing libfm is indeed fixing the problem.
Development packages are not needed (why should they, this is not about re-compiling any longer) neither is rebooting but restarting PCManFM-Qt is enough. A bit tricky to discover, IMO, as the output of `ldd` suggests everything is fine even when the problem is manifest.

Btw. this

was aimed at @jubalh. In order to be called "fixed" it can be expecte

[2016-06-06 12:35] DimStar77 commented on #354
Agreed - my pasting the comment about libfm-devel was trying to explain why it works for the users 'when they locally built' - because they happened to install the package in question.

As for what is fixed: *I* submitted the fix for openSUSE Tumbleweed (https://build.opensuse.org/request/show/399601) - it's up to the libfm maintainer to decide if this fix is worthy to be submitted to openSUSE Lea

[2016-06-06 12:53] pmattern commented on #354
Sure. I was already assuming this but didn't mention in order to keep my comment rather short.

Arrrgh. Why didn't he mention this above but said thanks *to you* instead?! This would have avoided a lot of confusion.
In case the request gets rejected I'd strongly suggest you make package pcmanfm-qt depend on libfm. It's a rather essential feature that lacks otherwise.

Also, from the point of view

[2016-06-06 15:39] tsujan commented on #299
@PCMan
Here, bookmark DND works when the drop point is *not* on an already existing bookmark; if it is on a bookmark, nothing will happen. I don't see this as a bug but if you do, which behavior do you expect instead? Should another bookmark be created below/above the target or a copy/move dialog be shown?

[2016-06-06 15:53] agaida opened #361 "Desktop "Trash-Icon""
Having a trash-icon for the desktop would be really nice

[2016-06-06 16:07] pmattern commented on #361
Already discussed in lxde/lxqt#812.

[2016-06-06 16:07] #361 closed

[2016-06-06 16:52] agaida commented on #361
If it's no big thing - it should be implemented. One may not like desktop icons, but really - the option should be there.

[2016-06-13 19:59] tsujan opened #363 "Probable Memory Leak With Thumbnailing"
I'm not sure if this is about a memory leak or a normal behavior. Now, near the end of a working day, I've opened tens of folders, each with more that 500 images (some with 1000 images or more) and pcmanfm-qt uses 245 MIB of memory. When I go back and forth repeatedly into any folder with hundreds of image thumbnails, the memory usage increases. For example, right now, I succeeded in increasing it

[2016-06-16 12:50] PCMan opened #364 "Crash when a remote filesystem is mounted but the sftp connection is broken."
Probably a bug in gvfs?
Killing a hanging sftp client process launched by gvfs can crash the whole file manager.

[2016-06-16 17:48] antis81 opened #365 "change focus order (<Tab> key) in connection dialog"
Not sure, if this is the right repo, but the (login) dialog appears from PCManFM-Qt, when establishing a connection to a remote Samba share. Currently I don't have a screenshot available, so I try to explain. The three line edits from top to bottom …

1. Username
2. Domain
3. Password

… are ordered `1 -> 3 -> 2` when pressing the < Tab > key - should be `1 -> 2 -> 3`. I know it's a small usabilit

[2016-06-16 23:17] npmiller commented on #365
You are correct, thanks for reporting this, https://github.com/lxde/libfm-qt/pull/31 should fix this.

[2016-06-17 07:13] #365 closed

[2016-06-17 17:19] tsujan commented on #364
@PCMan
Any coredump? Is it always reproducible? I ask because a few weeks ago I encountered a crash that I could neither explain nor reproduce. Apparently, it wasn't about sftp (I don't remember if I used sftp at that time). Its coredump:
[code]

[2016-06-18 15:27] tsujan commented on #364
I ask anyone who has time:

In `libfm-qt → folderview.cpp → FolderView::selectedFilePaths()`, shouldn't `FmFileInfo* file` be checked for its nullity before being fed into `fm_file_info_get_path()`? Isn't that a potential case of crash?

[2016-06-18 17:37] PCMan commented on #364
My master thesis will be finished at the end of this month.
Will go back and clean up the bug tracker in July.
Sorry for being abscent all the time.

[2016-06-18 17:49] tsujan commented on #364
@PCMan Good luck with your master thesis! There's no rush in this.

[2016-06-21 17:59] SafaAlfulaij commented on #305
Ping?

[2016-06-21 18:01] tsujan commented on #305
Sorry! I'll look into it.

[2016-06-21 18:09] tsujan commented on #305
Are all other icons OK for RTL (tab righ-click menu with multiple tabs, for example)?

[2016-06-21 19:28] tsujan commented on #305
@SafaAlfulaij
Please test https://github.com/lxde/pcmanfm-qt/pull/366 if you compile from the source! I could just use the `-reverse` flag to test it.

[2016-06-22 06:26] SafaAlfulaij commented on #305
I tested it and didn't work, flipped the two icon variables in the source code and didn't work either. Something is wrong with my configuration...
So, In case that they are mirrored with "-reverse", you can close the bug.
Thanks!

[2016-06-22 11:57] tsujan commented on #305
Did you stop the desktop process before testing?

![rtl](https://cloud.githubusercontent.com/assets/981076/16265718/2f585a3a-3896-11e6-9f39-30251730e538.png)

[2016-06-22 14:22] SafaAlfulaij commented on #305
Yes of course..
Anyway, it looks fine. But is it possible to mirror the other icons? It's just QIcon -> QPixmap -> QImage -> mirrored function -> QPixmap -> QIcon :blush:
Not all the icons, but the ones that are in the toolbar (New tab, Refresh and go) and "New folder" in the menu. Others won't be easily recognized that they aren't mirrored.

Thanks a lot!

[2016-06-22 14:37] tsujan commented on #305
@SafaAlfulaij
Mirroring is possible but what isn't -- it wouldn't be worth the effort or the amount of code that should be added. Moreover, it wouldn't make much sense either because the other icons are good for RTL and if an RTL user wants different icons, he/she could use other icon sets or edit the current one.

Anyway, I don't understand why https://github.com/lxde/pcmanfm-qt/pull/366 didn't w

[2016-06-22 15:01] SafaAlfulaij commented on #305
Got it to work! (Somehow)
Thanks. It's ok leaving the others.

[2016-06-22 15:01] #305 closed

[2016-06-25 23:38] jimbo1qaz opened #367 "Add sorting by deletion date inside Trash"
Ubuntu Studio 16.04 with Cinnamon and Lubuntu Daily PPA:

Right now, when I trash one or more files, pcmanfm does not record the "trashed" date.

When opening the trash, pcmanfm does not allow you to "sort by date trashed". Nemo's "sort by date trashed" also does not work. This suggests that Nemo touches the "modified" date when a file is trashed, then displays it as "date trashed".

Can you add f

[2016-06-25 23:59] jimbo1qaz opened #368 "Crashes (SIGABRT) on invalid paths"
Ubuntu Studio 16.04 with Cinnamon and Lubuntu Daily PPA:

When I try navigating to a nonexistent path:
* Address bar `/asdf`
* Bookmarked entry pointing to invalid path

pcmanfm-qt crashes with an assertion error.

Sometimes, GDB says `[Inferior 1 (process ####) exited normally]`. Other times, I get a backtrace:

[code]
(I don't have debug symbols of the Lubuntu Daily PPA. Should I downgrade to re

[2016-06-26 00:00] jimbo1qaz opened #369 "Location bar: Tilde for homedir?"
Ubuntu Studio 16.04 with Cinnamon and Lubuntu Daily PPA:

Right now the location bar doesn't recognize `~` for homedir. Instead, pressing enter fails to perform navigation.

[2016-06-26 00:22] tsujan commented on #368
With the latest pcmanfm-qt, I can't reproduce this crash. Instead a dialog is shown that says, "The specified directory '/asdf' is not valid".

[2016-06-26 00:23] jimbo1qaz commented on #368
is <http://ppa.launchpad.net/lubuntu-dev/lubuntu-daily/ubuntu> out of date?

[2016-06-26 00:28] tsujan commented on #368
It includes `pcmanfm-qt_0.10.1+201605141616~ubuntu16.04.1_amd64.deb`, which should be up-to-date enough. What's your libfm version?

[2016-06-26 00:30] jimbo1qaz commented on #368
libfm4?

That's at 1.2.4.0.0+bzr2788+201606181116~ubuntu16.04.1.

[2016-06-26 00:38] tsujan commented on #368
Your libfm is up-to-date. I also checked libfm-qt on that repository and it seemed to be up-to-date too.

[2016-06-26 00:39] tsujan commented on #369
Yes, that would be a nice feature. I'll work on it.

[2016-06-26 00:53] tsujan commented on #368
There are lots of Ubuntu crash reports with `g_assertion_message` in their backtrace. This *may* be a glib problem. Here its version is 2.48.1.

[2016-06-26 00:53] jimbo1qaz opened #370 "Pressing F4 does not focus xfce4-terminal"
Ubuntu Studio 16.04 with Cinnamon and Lubuntu Daily PPA:

Annoying quirk I discovered:

If I set "terminal emulator" to xfce4-terminal, pressing F4 does not focus the terminal. gnome-terminal, qterminal, and xterm are unaffected. Is this a xfce4-terminal bug? Cinnamon bug?

[2016-06-26 00:55] jimbo1qaz commented on #368
libglib2.0-0:
  Installed: 2.48.1-1~ubuntu16.04.1

[2016-06-26 00:59] tsujan commented on #368
Strange! We may have to wait until someone reproduces this crash in another distro.

[2016-06-26 01:01] tsujan commented on #368
Oh, I forgot to ask this: does it happen under DE's other than Cinnamon too?

[2016-06-26 01:06] tsujan commented on #370
You could answer your second question by trying to reproduce the problem under a DE other than Cinnamon ;) Please test!

[2016-06-26 01:09] agaida commented on #368
@tsujan - we should not support the daily ppa here, bugs in the ppa should be triaged by @gilir and team before hitting upstream - my 2¢

[2016-06-26 01:17] tsujan commented on #368
@agaida I understand. I'm just curious about any crash report on pcmanfm-qt -- maybe because it has been so stable here ;)

[2016-06-26 03:36] f2404 commented on #370
Can you also try xfce4-terminal from the git (it's been ported to gtk3)?

[2016-06-26 09:29] agaida commented on #368
@tsujan - if so - i'm fine with :)

[2016-06-26 09:55] pmattern commented on #368
This particular finding has already been [reported before](https://github.com/lxde/pcmanfm-qt/issues/200) besides the OP wasn't sure whether or not it's a crash.

My personal opinion is yes. Of course I appreciate their effort but they just don't seem to get something stable running.
You may just look at the number of issues we've already had with this PPA by searching for bugs labeled `downstream

[2016-06-26 10:13] pmattern commented on #370
Cannot confirm your findings running latest VCS checkouts of all LXQt components and Xfce4 Terminal 0.6.3 on Arch Linux.
Xfce4 Terminal gets focussed much like all other terminal emulators, no matter whether it's launched by selecting "Open Terminal" from menu "Tools" or hitting `F4`. Same findings in an LXQt, Xfce or Openbox only session.
Maybe the problem is in Cinnamon or that PPA. Also, you ma

[2016-06-26 10:23] pmattern commented on #367
Tbh. this seems like a rather weird idea to me as the only purpose I can figure is doing some kind of version control that way which should probably be some other means.
But maybe I'm missing something, so...

[2016-06-26 10:29] agaida commented on #368
@pmattern - i apperciate the efforts too - and i see an easy solution - it need man power to run a ppa like this stable and reliable. So i guess any help with that is appreciated and interested ppl should contact the lubuntu team.

[2016-06-26 11:49] tsujan commented on #368
@pmattern and @agaida Thanks! I didn't find any code problem that could cause such a crash either.

@jimbo1qaz The problem seems to be in that PPA.

[2016-06-26 11:51] tsujan commented on #370
Yes I do. Focusing is the job of WM. Closed.

[2016-06-26 11:51] #370 closed

[2016-06-26 12:32] tsujan commented on #367
@jimbo1qaz
This would be possible with https://github.com/lxde/pcmanfm-qt/pull/343 and also by adding a sorting according to creation time, I guess. But what would its use be -- I mean a general use that wouldn't be specific to your personal needs?

[2016-06-26 14:14] tsujan commented on #201
Oh, sorry! I hadn't seen your message and was led here by Google because of another problem. I'll look into it.

[2016-06-26 16:26] tsujan commented on #201
@pmattern
Which behavior is desirable?

(1) An ending slash should appear after using tab (and, as a result, another auto-completion list is shown)?
(2) An ending slash should appear after selecting from the completion list and pressing esc (and again, another auto-completion list is shown)?
(3) The folder should be opened with tab auto-completion?
(4) An ending slash should always be added when a

[2016-06-26 18:17] tsujan commented on #201
https://github.com/lxde/pcmanfm-qt/pull/371/commits/1aa27b7381b63cb46cb4990de6f259cf281b47aa fixes that.

[2016-06-26 18:20] jimbo1qaz commented on #367
When I enter the trash can, I usually want to restore the last few files
I've been deleting. Right now, I don't know which files are recently
deleted, and which ones are ancient.

Also, both Windows and Nemo already supports this feature.

[2016-06-26 18:44] tsujan commented on #367
That was already obvious but what could the benefit of restoring recently deleted files be when the user doesn't know exactly which file he/she wants to restore and, especially, *where*?

[2016-06-26 18:46] jimbo1qaz commented on #367
Sometimes I delete a large number of files from one folder, and want to
restore them all. This is easiest with "sort by date deleted" and an
"original location" column.